In [1]:
import pandas as pd
import boto3
import awswrangler as wr
import os

In [2]:
# !pip install h2o_pysparkling_3.3

In [3]:
import findspark
import pyspark
from pyspark.sql import SparkSession
from pyspark.context import SparkContext
from pyspark.sql.functions import *
import pyspark.sql.functions as F
from pyspark.sql.window import Window
from pyspark.sql.types import *
from pysparkling.ml import *

In [4]:
# AWS
# 3.36.1.3-1-3.1
# 3.1.1+amzn.0

# LOCAL
# '3.36.1.3-1-3.1'
# '3.1.1'

In [5]:
print(pyspark)

<module 'pyspark' from 'c:\\program files\\python37\\lib\\site-packages\\pyspark\\__init__.py'>

In [6]:
os.environ["PYSPARK_SUBMIT_ARGS"] = "--master local[2] pyspark-shell"
findspark.init('c:\\program files\\python37\\lib\\site-packages\\pyspark')
sc = SparkContext('local', 'SparkContext')
spark = SparkSession.builder.appName("SparkSession").getOrCreate()
spark

In [7]:
#Criar conexão com o Athena
my_boto3_session = boto3.Session(region_name='us-east-1',
    aws_access_key_id='AKIATSOWRPN4647AE5NC',
    aws_secret_access_key='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')

## Read data source to simulate as Glue

In [8]:
# - Lufa Lufa 2651 (ZigPay - QA Engineer) - Lari Gonçalves
# - Crewmates 2665 (GPA _ Product Owner) - Batata
# - Wildcats 2645 (Gabriel - Mobile Software Eng.) - Peu Gomes 

# 2546

In [9]:
# %%time
# query = """select trim(linkedin_user_name) as linkedin_user_name
# from "prod-lakehouse-mirror".talents
# where talent_status = 'AVAILABLE'
# and linkedin_user_name is not null"""
# lista1 = wr.athena.read_sql_query(query, database="prod-lakehouse-mirror", boto3_session=my_boto3_session, s3_output='s3://query-temp-result').values.tolist()
# flat_list = [item for sublist in lista1 for item in sublist]
# flat_list

In [10]:
# filtro_talents = 'adewagold', 'adielcristo', 'adieztorio', 'adilio-santos-3ab5574a', 'adilson-a-krueger-a260562b', 'adilson-baggio', 'adilson-cardoso-barbosa-bb039234', 'adilson-krasovski-a5917353', 'adilson-matteucci-junior-31a8925b', 'adilson-moreira-silva-34964b7', 'adilson-muriel-8a9018163', 'adilson-quiozine-657692b', 'adilson-sierpinski-jr-95358b77', 'adilsonssantos', 'adine-laís-amorim-652007170', 'adiosmatheus', 'adlany-menezes-80b999218', 'adlerdias', 'adlerparnas', 'administradorvendas', 'admiurysouza', 'admonteirojr', 'adnan-ali-297b208a', 'adnangonzaga', 'adolfhoathyla', 'adolfo-agnelli-scolastico-15550b226', 'adolfo-menezes-silva', 'adolfo-ramos-8bb542162', 'adolfoabcruz', 'adolfoquaranta', 'adonai-silva-85b462105', 'adonay-puszczynski', 'adonega', 'adrazevedo', 'adrelaynesouza', 'adrian-dias-8b4647221', 'adrian-f-2a3a7536', 'adrian-fidelis-00223537', 'adrian-salomon-ferreira-abdesalan', 'adrian-sanabria', 'adriana-alcantara-7b11a622', 'adriana-almeida-091444103', 'adriana-almeida89', 'adriana-bicho', 'adriana-cabral-da-silva-a2a21124', 'adriana-carvalho-aaa0958b', 'adriana-coimbra-445474141', 'adriana-corrêa-86a1a133', 'adriana-coutinho-b4948951', 'adriana-cunha-a858421b', 'adriana-forcinetti-660b95133', 'adriana-freires', 'adriana-gomes-0890a231', 'adriana-h-8b29921', 'adriana-l-franco', 'adriana-lopes-pmp-b8079215', 'adriana-maciel-2963ab39', 'adriana-malta-3a339441', 'adriana-maria-de-almeida-oliveira-bbba84119', 'adriana-menezes-45822024', 'adriana-monteiro-373739117', 'adriana-muniz-andrade-34a24b15a', 'adriana-ribeiro-5a2b2914b', 'adriana-rosa-0243b2', 'adriana-sarmento', 'adriana-schneider-c-lima-256b8a81', 'adriana-scrobote', 'adriana-siqueira-lopes-b06369a', 'adriana-trindade-b33164a8', 'adriana-vianna', 'adrianaaraujocastagnino', 'adrianabloch', 'adrianabuenodasilva', 'adrianacostagallego', 'adrianadelimadossantos', 'adrianadelneroromano', 'adrianamegoncalves', 'adrianaparacencio', 'adrianaunger', 'adriane-da-hora-37a5ba13b', 'adriane-eckmann-mingrone-4656227b', 'adriane-leszczynski', 'adriane-s-45436220', 'adrianegomes', 'adrianemanhaes', 'adriann-murillo', 'adriano-amaral-29465326', 'adriano-barbieri-882603150', 'adriano-buniotti', 'adriano-carvalho-6a9987a5', 'adriano-correa-39174956', 'adriano-costa-lima', 'adriano-costa-tobias-783104a1', 'adriano-dias-4aba90161', 'adriano-espim-mendonça-21b4545a', 'adriano-fernandes-razzini-129a805a', 'adriano-ferreira-73274843', 'adriano-franco-1b766685', 'adriano-frede-hauber-4a0ab839', 'adriano-gomes-2a980637', 'adriano-leite-bi', 'adriano-marqueze-6474031', 'adriano-mendonca', 'adriano-mota-8a278531', 'adriano-moura', 'adriano-nakagawa-09111338', 'adriano-negrão-66952a38', 'adriano-nq', 'adriano-nunes-de-moura-64559b50', 'adriano-oliveira-37aa3145', 'adriano-palomino-bb3486105', 'adriano-pereira-9b03b23a', 'adriano-porto-22a775186', 'adriano-ramalho-8381b5a2', 'adriano-rezena', 'adriano-ribeiro-0333a526', 'adriano-ribeiro-de-almeida-40550814a?originalSubdomain=br', 'adriano-rodrigues-57125a63', 'adriano-rosa-092b3730', 'adriano-s-b55627b3', 'adriano-salustiano', 'adriano-santos-02750747', 'adriano-santos-296545193', 'adriano-silva-a1961a92', 'adriano-silva-santos-687969121', 'adriano-souza-santos-735a6ba8', 'adriano-veiga-07348517', 'adrianoaclina', 'adrianobarbosasilva', 'adrianoborin', 'adrianocaria', 'adrianodlucca', 'adrianogodinho', 'adrianogrygonis', 'adrianohax', 'adrianoheissig', 'adrianokerber', 'adrianolauton', 'adrianolinordj', 'adrianolourenco', 'adrianolucianocandido', 'adrianoluro', 'adrianomartins9', 'adrianoobarbosa', 'adrianorang', 'adrianorib', 'adrianosouza1310', 'adriansteinstrasser', 'adriel-basílio-59233676', 'adriel-da-silva-grizotti-090549178', 'adriel-lins-maciel', 'adriel-preto-10a71a3', 'adriel-rodrigues-ruis-8a613a112', 'adriel40torres', 'adrieleamaral', 'adrielera', 'adrieli-baggio-jaskiw-44692822', 'adrieli-sales-a88053161', 'adrielle-alecrim-039431169', 'adrielle-krauchuki-586857101', 'adrielle-macedo-550661157', 'adrielleasfarias', 'adriellezerbeto', 'adrielli-oliveira-078532137', 'adrielli-prado-589249116', 'adriellucas', 'adriene-aparecida-antunes-814529218', 'adrijunkes', 'adriley-samuel-ribeiro-barbosa-4a1310153', 'adrisson-silva', 'adroaldo-pereira-2a9876140', 'adryanaportugal', 'adryane-rodrigues-a3273118b', 'adryel-ramos-9535a7183', 'adryell-batista-089b73a9', 'adryelle-lima', 'adryellhenry', 'adson-emanuel-devops','adson-souza-21b1493a', 'adsonarthur', 'advaitapatel', 'advluanaferreira3813', 'adyb-amback-2819a1161', 'adyel-papini-a28a25211', 'adão-aurélio-amorim-de-oliveira-1219aa9b','adão-de-oliveira-lima', 'aeciolima', 'aersouza', 'aerton-oliveira-79708993', 'afbmarquezini', 'affonso-dick-neto-015930109', 'affonsocarvalho', 'afmeirelles', 'afoliveirareal', 'afonso-celso-dutra-acauan-filho-71a80621', 'afonso-simao', 'afonso-simões-baa33818', 'afonsoavr', 'afonsohfdpaula', 'afonsolelis', 'afonsompp', 'afonsosouza', 'afranio-lucas-190a0560', 'afreitas', 'afsiebra', 'agabiabreu', 'agata-laís-silveira-', 'agatapiza', 'agathaalvarenga', 'agenor-e-oliveira-bb0b91168', 'agenor-kaulli-93b82a12a', 'agenor-neto-01b6a4158', 'agenor-vicente-da-silveira-filho-a3a3a634', 'ageu-gomes-82214966', 'ageu-macedo-406038191', 'aggarwalanant', 'agilistagiovannyesposito', 'agmachado', 'agnaldo-sobrinho-1688512b', 'agnaldo-teodoro-rodrigues-6ba630208', 'agnaldo-venâncio-019bb6b3', 'agner-manzini-de-sousa-3a6870a2', 'agnes-tamás-76713050', 'agni-mendoza-68249a125', 'agomuodavid', 'agostinho-sieczkowski', 'agostinhobarone', 'agrarcanjo', 'agripino-neto-8aa20659', 'agt-infraestrutura-7099a2176', 'aguiarandre', 'aguilarrd', 'aguinaldo-brito-bbb184171', 'aguinaldo-teixeira-06734a4', 'aguinaldo-toledo-jr', 'agustin-gabriel-aguirre-569b6720b', 'agustin-gonzalez-nicolini-☁', 'agustina-alurralde-9b642ab2', 'agustina-cabral', 'agustinfogliatto', 'agustinho-coelho-97919a29', 'ahmed-nassif-a56b8527', 'ahmedkleit', 'aiane-bandeira', 'aida-gabriela-ghergus-873934117', 'aidastockler', 'aidm', 'aijalon-junior-6299551a5', 'ailson-pereira-539349183', 'ailton-alves-ba03b754', 'ailton-araujo-529a5722', 'ailton-araújo-júnior', 'ailton-mizuki-sato-27a21851', 'ailton-oliveira-127366126', 'ailton-santos-fh', 'ailton-tim', 'ailton-vinaud-júnior-356138101', 'ailton-vinicius-leite-dos-santos-49001b89', 'aimeefernandes1990', 'airesdiogo', 'aironprado', 'airton-júnior-machado-775801100','airton-l-00621117b', 'airton-lira-29045b26', 'airton-mendonca-silva', 'airton-miranda-13731a56', 'airton-neto93', 'airton-takeo-fukumoto-03a51219', 'airton-tibana-11434755', 'airtonlimajr', 'aisha-serrat-7193581b1', 'ajmemilio', 'aka-luan', 'akanjo', 'akegiraldo', 'akfzambrana', 'akiyamav', 'akizar-hercilia-sampaio-08701411a','akshaya-ramesh-08409b102', 'akshayagrawal87', 'alaa-mansour', 'alabvix', 'alain-green-mayoral', 'alamocr', 'alan-abreus', 'alan-alves-silva', 'alan-amadei-marciano-22662a38', 'alan-andrade-silva-b3382810b', 'alan-carlos-42028770', 'alan-cecchin-55771232', 'alan-costa-84778b120', 'alan-douglas-b4bb6066', 'alan-evangelista-a9968915', 'alan-ferreira-borba-891838a2', 'alan-moraes', 'alan-nonato-silva', 'alan-p-546346115', 'alan-p-heleno', 'alan-pascoli', 'alan-r-542324a9','alan-rocha-08651656', 'alan-rodrigo-f-c-guimaraes', 'alan-sampaio-a44804168', 'alan-sousa-1a1a91113', 'alan-souza-5709809', 'alan-souza-963806162', 'alan-sérgio-victor-472b78b3', 'alan-torres-es', 'alan-weingartner', 'alan-william-pmp', 'alan-willy-leiser-800274195', 'alana-amaral', 'alana-costa-230b9ab0', 'alana-furlan-13587250', 'alana-gouveia-02693b24', 'alana-monteiro-56031a1b8', 'alana-rafaela-cardoso-de-brito-a00365181', 'alana-santana-75ba43208', 'alana-santiago-061799232', 'alana-vieira-28424359', 'alanarakaki', 'alanbittencourt', 'alandamatta', 'alandjansenrodrigues', 'alane-gomes-37b6a219a', 'alanfernandeslobao', 'alangaiovis', 'alangoncalves', 'alanives', 'alanmalbos', 'alanmartini', 'alanmattos', 'alanmeira', 'alanmoraesaai', 'alanna-azevedo-santa-rosa-67433b93', 'alanna-marzola-112b94146', 'alannalimadossantos', 'alanpita', 'alanpr', 'alansarda', 'alanscardoso', 'alanwillms', 'alaoolusola', 'alaricosong', 'alberico-bezerra', 'alberson-pains-57138029', 'albert-arasaki-1a365025', 'albert-domingues', 'albert-emiliano-19a0a7b6', 'albert-ferreira-289683157', 'albert-kolberg-399969a5', 'albertdiniz', 'alberteije', 'alberthycoelho', 'albertjose', 'alberto-abrisqueta-dengra-b87185138', 'alberto-baek', 'alberto-baxauli-504194', 'alberto-coli-a81610154', 'alberto-ferreira-araujo-352744b1', 'alberto-linard-77a87620', 'alberto-nozawa', 'alberto-oliveira-barbosa', 'alberto-piva-0a7914229', 'alberto-rosa-39001660', 'alberto-ruy-marques', 'alberto-silva-jr', 'alberto-sousa-de-santana-a6891677', 'alberto-techera-4494736', 'alberto-telles', 'alberto-velez-trejo-669636169', 'albertolanca', 'albertonasc', 'albertoogura', 'albertoolopes', 'albertotrevezani', 'albertulhoatimo', 'albino-meneguetti-neto', 'albinosv', 'albsilva0', 'albtsantos', 'albuquerque-alan', 'albuquerque-bruno', 'albuquerque22brunoo', 'albuquerqueandressa', 'albuquerquedeveloper', 'albuquerqueflavio', 'alcantara-thiago', 'alcarsan', 'alcedirjunior', 'alceu-joaquim-7a128965', 'alceu-morais-jr-06805925', 'alcides-campos-a4aaa432', 'alcides-monteiro-24483236', 'alcides-oliver-sencio-paes-096a7921', 'alcion-souza', 'alcione-dias-da-silva-06594029', 'alcione-martins-b304479a', 'aldaalmeidatech', 'aldeba', 'aldeir-francisco-da-silva-657801192', 'aldeir-maciel-63ba54b8', 'aldemircamara', 'aldenir-gil-de-oliveira', 'alder-furtado', 'aldo-rovani-santos-45359a24', 'aldocruz9', 'aldori', 'aldrea-malheiros-oliveira-rabelo-b5950325', 'aldridgeneto', 'aldutra', 'ale-charif-a367a752', 'aleandro-vicente-1306a0189', 'aleanyzewski', 'alecindro-castilho-b7620652', 'alecnsilva', 'alecsandro-augusto-cararo-7b62a3b', 'alecssander-machado-972586164', 'alef-alves-lemos-0815521b0', 'alef-cordeiro-62678099', 'alef-lopes-723404125', 'alefabian', 'alefalcantara', 'alefcampos', 'alefdav', 'alefe-sousa', 'aleff-remberto-0b60b21b2', 'aleff-stampini-10761b186'

In [11]:
filtro_jobs = 2689, 2703
# filtro_jobs = 2689, 2546, 2666, 2214, 2578, 2345, 2303, 2454, 2222, 2645, 2651, 2665, 2671, 2669, 2449, 2675, 2267

In [12]:
# 36 minutes 32 seconds : 2703 2689 2680 2675 2671 2669 2666 2665 2651 2645 2578 2546 2454 2449 2345 2303 2267 2222 2214

In [13]:
# 48 minutes 14 seconds: 2689, 2546, 2666, 2214, 2578, 2345, 2303, 2454, 2222, 2645, 2651, 2665, 2671, 2669, 2449, 2675, 2267, 2703, 2680, 2693, 2692, 2689, 2687, 2685, 2684, 2683, 2681, 2680, 2679

In [14]:
# 1 hour 6 minutes 45 seconds

In [15]:
%%time
query = f"""
select
 job_id
,company_id
,job_seniority
,case when max_salary_offered is null then cast('Missing' as varchar) else cast(max_salary_offered as varchar) end as max_salary_offered
,case when min_salary_offered is null then cast('Missing' as varchar) else cast(min_salary_offered as varchar) end as min_salary_offered
,job_area
,job_status
,job_department
,job_position
,job_hiring_type
,company_classification
,case when import_policy is null then 'Missing' else import_policy end as import_policy
,case when job_validation_questions is null then 'Missing' else job_validation_questions end as job_validation_questions
,job_credits
from "prod-lakehouse-mirror".jobs"""
datasource_jobs0 = spark.createDataFrame(wr.athena.read_sql_query(query, database="prod-lakehouse-mirror", boto3_session=my_boto3_session, s3_output='s3://query-temp-result'))
# datasource_jobs0.count()

Wall time: 10.7 s

In [16]:
%%time
query = f"""select *
from "prod-lakehouse-mirror".jobs_questions"""
datasource_questions = spark.createDataFrame(wr.athena.read_sql_query(query, database="prod-lakehouse-mirror", boto3_session=my_boto3_session, s3_output='s3://query-temp-result'))
# datasource_questions.count()

Wall time: 9.46 s

In [17]:
%%time
query = f"""select *
from "prod-lakehouse-mirror".jobs_skills"""
datasource_skills = spark.createDataFrame(wr.athena.read_sql_query(query, database="prod-lakehouse-mirror", boto3_session=my_boto3_session, s3_output='s3://query-temp-result'))
# datasource_skills.count()

Wall time: 7.51 s

In [18]:
%%time
query = f"""select *
from "prod-lakehouse-mirror".clients_offlimits"""
datasource_clients_offlimits = spark.createDataFrame(wr.athena.read_sql_query(query, database="prod-lakehouse-mirror", boto3_session=my_boto3_session, s3_output='s3://query-temp-result'))
# datasource_clients_offlimits.count()

Wall time: 6.51 s

In [19]:
%%time
query = f"""select company_id, linkedin_company_user_name, flag_off_limit
from "prod-lakehouse-mirror".clients"""
datasource_clients0 = spark.createDataFrame(wr.athena.read_sql_query(query, database="prod-lakehouse-mirror", boto3_session=my_boto3_session, s3_output='s3://query-temp-result'))
# datasource_clients0.count()

Wall time: 8.1 s

In [20]:
%%time
query = f"""select
 linkedin_user_name
,application_id_backoffice
,job_id
,application_creation_date_ts
,application_current_phase_active
,application_status
,application_hiring_model
,case when reason_disapproval is null then 'Missing' else reason_disapproval end as reason_disapproval
,case when talent_last_email is null then 'Missing' else talent_last_email end as talent_last_email
,case when pipefy_last_card_id_link is null then 'Missing' else pipefy_last_card_id_link end as pipefy_last_card_id_link
,expected_salary_interval
,max_salary_expected
from "prod-lakehouse-mirror".applications
where linkedin_user_name is not null"""
datasource_applications = spark.createDataFrame(wr.athena.read_sql_query(query, database="prod-lakehouse-mirror", boto3_session=my_boto3_session, s3_output='s3://query-temp-result'))
# datasource_applications.count()

Wall time: 1min 12s

In [21]:
%%time
query = f"""select
 linkedin_user_name
,approach_id
,job_id
,created_at_date_ts
,approach_origin
from "prod-lakehouse-mirror".approaches
where linkedin_user_name is not null"""
datasource_approaches = spark.createDataFrame(wr.athena.read_sql_query(query, database="prod-lakehouse-mirror", boto3_session=my_boto3_session, s3_output='s3://query-temp-result'))
# datasource_approaches.count()

Wall time: 1min 34s

In [22]:
# lista2 = datasource_approaches.select('approach_id').toPandas().values.tolist()
# flat_list = [item for sublist in lista2 for item in sublist]
# flat_list

In [23]:
# filtro_approaches_status = '19f226d5-e7b8-4948-aa0a-f24c76c347a6', '042e3f96-2f54-41ac-9e6d-3bdaf7c0002a', '0910f3c2-2cf3-4e3e-8508-82f5583e44ad', '1862ae28-cfc8-4d0f-9403-746e6a8d05e5', '4f6e771d-26c6-4ff0-a1f2-85f5733321f3', '57e21188-596a-4f64-b48d-1ebd5a3c6483', '5faabcb3f67cb20cf1f93aa2', '5fbd74b8afa16f5050934d69', '601a9e231875ce48fd829aa4', '604283ee8051615e0df76e4b', '607d97358051615e0df85517', '60c1488b6a434811aa9cc0a7', '8bea80ff-fcc2-4391-bfa5-dfd36b39ae92', '924fa0e5-6ddc-459e-9dd1-d30ddb84947e', 'c512f6ca-d94a-4d9c-9881-4935002ed2ed', 'ca78949f-8081-493c-b2e4-446a50efafd5', 'f20a6613-a6b0-4397-9066-847e6757b39c', 'f7c94f73-f052-47a5-bed1-90837d260c02', 'fdbc3f62-432e-49cb-9d59-399b8fbac7a7', '2eb969a0-ba7f-48f0-9445-0f2282446478', '3337e7a5-3233-42c9-a308-136100299f44', '57483595-46b3-49fc-9dad-12372bb01eb4', '5f28778c2be57767ce1b3ea6', '5ff4b8f69ad81349da7844f2', '605a3b9c8051615e0df7d46f', '60622f328051615e0df7f470', '60638dcd8051615e0df7fce2', '60a2d146bca00c222682fce3', '60b6bb5d6a434811aa9c9cfd', '60de1a5939f7712b9e9848d8', '60f736b0f92b831e618f7a1e', '6daf5a11-3223-4d05-9d51-a5d7d9f160ba', '7997ee7f-fd38-4dfe-a5fa-f53ebf076431', '7dc00067-f080-40fc-ba6a-655c07b0743b', '86818d0b-a001-41a4-83c0-4be7bad6865a', '9f0ac5e4-b73e-4935-972d-f472743f1404', 'a20f7fda-572d-46aa-8dfb-aa64465cc3b0', 'a3630827-ac3d-401b-b9d6-d3e186b07e3a', 'a56fc955-2313-4f85-9404-0ed9e8c8d370', 'bd11f3e2-c8be-45c4-84b2-476b4ea020fa', 'eb974535-a5b5-4d2d-9af3-d6d810ff107a', 'f20e7a2e-e7f0-42bd-8f08-7be17b5837a7', '1cb049f1-134c-4f0a-a89a-17d682ac513d', '1f46ccfc-5e4e-445f-b5db-061166605ed2', '2c908af5-05ba-4754-bdb7-07253b9796fd', '4922a73d-383f-40f0-841e-bca2b315b30e', '4c112dec-7ad8-4d6e-9552-a14cd0edbc86', '5ee7ce42bd3c2010ffcaf212', '5fc6a260e600af76c344731f', '5ff61f1c-ece0-4805-af2b-357c90045f7d', '5ffedc6f6baded1fa7403743', '603426ea496a6573c0377722', '60535e0d8051615e0df7b4d1', '6075aa7c8051615e0df83495', '60ca17e86a434811aa9cdd0c', '61f798f6-8d7f-4d47-86e4-859d038480ca', '73036b0a-b53c-492d-a667-e99c15cdfc67', '762c6620-1efd-403d-8beb-6ef802ab3044', '8a4c3fb4-c3bd-4a9d-8a8a-f8f58f8fcea7', 'a5558c4d-b286-41f2-9766-25003d9ab6dd', 'bc37edca-adc9-49b8-b139-6ad90f08aa0f', 'ccfa1dff-07a7-4338-841b-17a3f019e8b3', 'e1a5b64c-cc50-4e25-b74d-dcf3b3eafa0b', '076b2b29-60dc-4b33-ba4d-0b1f8a4e7528', '1f94391d-fabf-434d-863a-431c78ee0a5b', '21fc503a-c668-4276-a923-0c1388a81f48', '2a714cc7-c763-44c4-93ed-e12d63f488a3', '3aeb3fc2-e932-4f8a-a2a0-bf3fded0f8de', '3fb2068e-5104-4315-a091-9fe70b78baea', '4d540856-74fa-4bf0-a515-1c0a628c5f3c', '5fa94dbcf67cb20cf1f932de', '5fe0ba38ac47d56bbcae2ba8', '60103a306baded1fa74064c9', '602687cc496a6573c037374c', '6054be1f8051615e0df7bde5', '605a44268051615e0df7d4f1', '60e753f15afd7d4eccc8f3a5', '6104582505d0c8523bae6c66', '612e753be6bb4a0407502924', '7fac5dc4-5663-4a3e-966c-71a50710f017', '8c613181-0fce-4295-aa6c-b4e2a1103fce', 'a684bd38-158b-4824-a615-93f0327513f8', 'a83070a9-8879-40b1-911b-ee0644bc192f', 'b18d25ac-50b6-410f-a63a-a7baeeea685d', 'dcc56cd7-a949-47b2-b1a8-c5844415d1e7', 'fed33536-def6-4fad-b213-073e5969ac09', '071b33bf-05bc-4a77-80c9-0cb2e011041c', '5faac9bff67cb20cf1f93ae7', '607a0efd8051615e0df8522f', '6123b5d105d0c8523bb9461d', '612e6b71e6bb4a0407501edb', '718b9caf-bc42-4c2c-bdb5-77802671d955', '94e407ec-7a91-42e4-9365-7f1c3297cf91', '9954a548-0f56-42ac-8f65-8d934d8532ba', 'a3e7cfbf-b205-4338-b523-b12c9de72af2', 'ae708173-ab81-4eee-959b-444deecb979d', 'b70c92c9-886f-48f0-a0b7-02a6e5b05560', 'bcaca3dd-13d7-48c7-95e5-750cf12c1c7e', 'e8ddf33d-b9d4-4d64-b465-ea4412a761b1', 'ffd9e114-a0b9-4c48-a5a1-3c2148e0b551', '67dc349b-d506-4fb5-97b5-8dc545ed640d', '21097153-4573-4dd7-87c8-2f43f98c48de', 'bb7320fa-fb63-4f91-b74f-9ae2d45667cf', 'eb22676f-84d8-44bf-8766-aadd831a8a39', '6a81f24e-ed0b-4d26-855a-ffdf646b695d', '49214f75-cd50-4d1f-9de3-e7c9d3ad4ecd', '047a9ffc-bf4b-4429-b935-878ae8deb934', '1bc75564-54db-4c6f-b250-ec33b1cae8a3', '5482d67b-8b2b-4fbc-8911-175bc7f0011b', '5f3da61b710abf2110f8aa74', '5f6bcab111aa4d5c9ba500a3', '5f7e05f4c2982359d90e3847', '5f9c62e390f590307ad61a8a', '5fa93e63f902a23d56f06585', '5fd37dcc1228024f20cdd8de', '604a26c98051615e0df78c1d', '60520cfd8051615e0df7abbb', '606f16aa8051615e0df822fb', '6093017d9283bf5d769743f7', '609b3b01441c283a256a0daf', '60bf6f776a434811aa9cb08b', '614cb3f1e6bb4a040757be62', '62af8ea7-8a5e-4a19-9868-29544fa8ba79', '82cf4d9f-24c9-4210-8dfa-e8e7bee5f3b5', 'b8a615a5-176e-4d55-8b24-4ff9a079a067', 'c8034a34-385b-454f-aeac-033dee5f79a7', '066bfc79-38fd-4d2b-993c-5c61b17db967', '41cee8d7-dd85-40ab-b668-4ea083c1b301', '48fc42b9-5d65-4eb3-a2ec-72597c307693', '59c900ed-8ceb-4cef-a27a-3955bad9758a', '5a6a60f3-8f49-4090-bfe5-6f44558c8e1d', '5f622b90567aeb49736976ee', '601c1d658ae05821a7b3b77a', '603fe68e8051615e0df75f70', '60abec55a412c030cfe4ca41', '60c90c44-3689-4b80-a624-dea8a3add5a5', '60d5c7476a434811aa9d0e46', '690e3089-4e34-4649-8d26-1a7da4bafb64', '81d38132-eea4-4267-907f-00579caa4743', '9ae92875-7496-4326-a414-0da9f51cabbc', 'a2f37302-7ed6-40ed-9869-a766d490d2d4', 'b5ac93a6-3d7d-45e1-b8b7-08aba9eee135', 'ea8a1d1d-150c-4398-bbf0-f44d2190b94c', '139f3f6c-bf6c-4db2-b195-f1bea9c48f34', '1969b379-7046-48c9-862c-6ed245b80c14', '1a4d9f51-fc35-4911-9ef1-c16a00fc8937', '522fc1c1-0cd5-4d6f-b7df-a97b472b9100', '52c128b7-3949-473b-a0a6-5c98220fe39f', '5a5ff1d1-74e6-4cc1-a6a9-e16d372c3a50', '5f6ba9ec11aa4d5c9ba4ff98', '60a2e111bca00c222682fd7d', '610a961205d0c8523bb0297d', '612cec20e6bb4a04074f9ee2', '613f4ca9e6bb4a0407538d5e', '66854506-50c9-45b1-b655-febe7bab6785', '9212be85-5482-4496-92b7-dbe6ec4b824f', '9c61bc4f-9c2b-410b-b683-ff913e7b249f', 'b5718126-9403-4caa-932c-d2c09a23f162', 'd47a0aa4-039e-4a8c-b94c-186c16946232', 'f092fd5b-d5d1-4718-a45a-6d2259cd99c0', '00766c12-7750-4e8c-a08a-b6659900c959', '4646bd41-6952-4c0d-b435-f9ab58184c97', '46ba6a7e-1cfa-4bf4-a975-23f8ee735b2d', '489d0bb5-02ed-4354-a3e6-5b2a1b617142', '5f77622f992e700610b9080b', '605a37aa8051615e0df7d439', '6064ec9c8051615e0df8054c', '60aba26bbca00c2226832039', '60f0784cdd9c422acfac9571', '60f82038f92b831e618fd1d8', '613ba108e6bb4a040753453a', '680750c0-168f-40d4-b5d8-6143de7dc1b3', '6c2dce94-6b14-4823-97a0-28bc24ae150b', '913973c9-fc0d-49c4-bf42-1af78c7b85c6', '975229d2-7260-4e90-925e-a2b0f66446af', 'aaa47601-fb97-4eaa-9f3c-a5f998938235', 'b58591e4-a395-497b-b2d0-d9a4c16931c9', 'd52aefae-243a-4ca5-aff8-c8f006c621e9', 'e4688a55-2ec2-49d2-9942-a552dc4165f2', 'f0cfe5ec-2dca-41ed-9d12-587fe83e8eb6', '13911e40-3d8a-4abb-9d21-1f92a6c6f428', '177416ee-726b-4d58-9d66-c69edd546875', '5419024c-d9a2-4326-91e7-a0e86f4f678a', '580c3999-370a-4330-bc47-9182dda4fbda', '5cfb8866-7869-49da-8b27-8904f77de4ac', '5f71ed862393a85582261490', '5fd120969df0f90f69ed481d', '6062044a8051615e0df7f24f', '607ef0518051615e0df860c0', '609e816f125bb714071e8415', '60e5f3e3d33b546b5d4f7046', '97b42a06-f1f0-46d2-9666-6f891aae5818', 'a577f8f6-6e4b-415a-b518-ee3c408517f9', 'dc28876b-7119-4161-bed1-aab803857a81', '10c8cb49-3797-48f2-9285-5e1275165f6c', '4e7fc406-0865-4077-a6b6-d92e8dc052e7', '5f21b4f32be57767ce1b3925', '5f4d24f39a830b4db264a466', '5faef5ebf67cb20cf1f94b2a', '5fe1248eac47d56bbcae2db0', '638875d6-4549-46bb-ab6d-a35136887810', 'a40137d0-9c5b-4461-88a0-bf342ffbae5e', 'af5ea37b-efac-423b-9cca-eec1bc9c15d5', 'b0406d4e-937a-4c83-bc26-38d3652c1f80', 'b1116f6d-d8ee-48e0-9cb1-a4bcfa33e91f', 'c5f23a9f-e535-4c4f-a130-bb7839560ad2', 'd2f9407b-ee06-4fd2-b80a-0bd7b8c93f08', 'd71ea461-11be-4963-a7aa-aa2a36bc2206', '17cf3b14-3037-442a-8790-ce3a53c6d11f', '27f00003-a7fa-4cab-afb6-6fd9196f1488', '368227d6-3ded-49e4-9d33-8f02f47435e0', '528f92d3-ef15-43a6-a99b-8e5c1d0a18e5', '55c659c2-9b38-4d37-8484-7cdc1bbfd0bd', '5c879b69-542b-4792-bd57-5646b5ad963d', '5f3d940d710abf2110f8aa4a', '5ff754009ad81349da784efb', '611abb4505d0c8523bb5eddc', '6130e394e6bb4a0407510e9e', '6eaf288d-4740-4e73-a58c-8011ce4a20e0', '93c8060e-b8a7-43f0-9a7f-161fe77bbb57', '9ae36236-60e0-4a87-ba5e-ed90f2878a41', 'a678d156-79ce-413d-aa7e-1b319360c519', 'd311ca8d-d7ef-4ea4-b36f-b312e2bca971', 'e7eecb74-80c1-4a44-a912-9a21d1c9f185', '02f9937f-6b19-4faf-95cc-f54160bfde07', '0386a4ad-6038-4efc-9925-998e19800ed1', '158d60ea-e367-44b0-8b51-daa5cb5ebf90', '260cd6f1-dda3-49e3-9384-dea67fa526da', '364cfdbc-db9f-46eb-9d53-240fb1a30380', '4d56a51d-c37f-401b-b7e2-7352ebd246b2', '5e14defe-eba4-4446-83eb-c26d42ae40ee', '5f3fd67e-4e48-4500-8dad-a9fafa0e25c0', '5fd911b4ac47d56bbcae1943', '604f64988051615e0df799f2', '607f10348051615e0df86249', '611ad49605d0c8523bb616b1', '61254909cc610b737fecfeb8', '6fa6028f-0da2-4042-aa2e-d3b9c214c400', '70ff95aa-bffa-459a-a86e-4fe6bf4398fd', 'c1e7da3f-8ea9-4f0f-a7eb-494c12dc7fd3', 'd0fb8ae1-6df0-489f-98cf-8ef20882a00d', 'ee32013f-a8d7-4dd3-9274-6a7ad640a062', 'ee39ae2e-1b6d-42c6-94b9-69c07a4512bf', '5b7a960c-a1b2-486b-91b7-805b3747faea', '5f58dc87567aeb49736968e1', '5f8d9c922829290f4e79c237', '5f9c729e90f590307ad61b0b', '5fc0244091fa6c6d79db9047', '5ffdd4b36baded1fa7403479', '601a7f341875ce48fd829a08', '604140468051615e0df7686b', '60d60e8ff6d89a7503b16fe0', '612e8746e6bb4a0407503e89', '612f8b76e6bb4a0407507ff5', '612fcfc3e6bb4a040750bac1', '67a98c02-1fd1-4a86-901f-6daedb76add1', '69aa99c4-2b03-43ab-8453-731bdb0cfded', '88446a56-2919-4262-972b-4501448eb36c', '9fad4917-a247-4534-8f8f-6590ff877da3', '9fdc1208-8eec-498b-986c-e7f4a4a98377', 'b282ccff-7bbe-4d01-9838-9dcc02900c77', 'bea50e75-bb8a-4aca-8149-45b5dfd7262a', 'c8de2ba6-d5a5-4098-ac0a-c98eed12011a', '2666646e-f99a-4b4e-9993-fac0862794a6', '2b07222a-a7b5-4ab0-930b-e79d921025aa', '2fcfda3c-91ba-4285-8f25-8c00cb2dc0d3', '3228cb45-e3f0-44ee-bdc4-c0e65282adf4', '370609f9-ae02-4ef5-92af-58dcccd87490', '3e2253c0-d1bd-4421-9b62-8bd9be0825b8', '44703acb-8e2c-4c34-8e89-2918455800ac', '516148c1-a582-41f3-ac72-54dcba9195bb', '54de2cc7-416f-4b2b-8a98-deecaca7f156', '56a0b295-5543-4356-be61-e669c86ccf4c', '5f2067f12be57767ce1b37a6', '5f7e4854c2982359d90e397c', '5fbe966eafa16f5050935038', '5fd911c6ac47d56bbcae1944', '607f16748051615e0df862ce', '60a6bec7bca00c222683162a', '60e79e26-5f95-46a1-afed-639340abeaf1', '6112e00c05d0c8523bb36721', '611d865305d0c8523bb78d10', '614a3474e6bb4a040756fac9', '65137c6b-db76-4b8b-b5d9-ad781339df97', '6d5535b0-3599-453b-8819-a76b2e7d5307', '71804a3d-81e6-41ec-8f2b-284e3841d56d', '74c056a8-f154-4fe6-a6a3-2be4d2392332', '82e5d092-cd84-4008-8bba-5dfa5f19a73d', '9ad97341-5524-4312-90f5-0836af88913b', 'd2912071-f154-49ab-acee-f2c3b7fb6b29', 'e2f315c2-2f57-4384-81d5-4fc46ec57844', 'f7f6014a-104a-4c62-b432-2b324c4ed7ff', '1534ee94-c90a-49a9-89c5-4483c2c9dcf3', '3fca6009-6d5c-4cb6-bfdc-b8b7ce98c0be', '404735ff-f9ef-4a17-8646-a46a4a09332a', '57b99beb-d9fc-4d77-af05-a87648791cd3', '5f889fc62829290f4e79bdfc', '5fc93b400d16412348b91780', '802cfa05-80a4-4db4-b762-8f2fc6175fe9', '814dae66-ea9a-430f-8c0b-6e3a5cae08f5', '81bd0e2b-a423-49b4-8d38-100c3e807f9c', '841ad90b-0540-47fe-b54d-0cfbd5ca33b0', 'b4b5c168-1e6a-4810-93aa-27245b0365cc', 'cb1f3f7b-3651-4b5c-baf6-8656a0c241e3', 'ccd49ce3-923f-4bdb-82d9-51b0e32a134d'

In [24]:
%%time
query = f"""select
 approach_id
,approach_status
,approach_status_date_ts
from "prod-lakehouse-mirror".approaches_status"""
datasource_approaches_status0 = spark.createDataFrame(wr.athena.read_sql_query(query, database="prod-lakehouse-mirror", boto3_session=my_boto3_session, s3_output='s3://query-temp-result'))
# datasource_approaches_status0.count()

Wall time: 1min 48s

In [25]:
%%time
query = f"""select
 linkedin_user_name
,case when prospect_location is null then 'Missing' else prospect_location end as prospect_location
,updated_at_date_ts
,prospect_seniority
,case when prospect_area is null then 'Missing' else prospect_area end as prospect_area
,declared_seniority
from "prod-lakehouse-mirror".prospects
where trim(split(prospect_area,' - ')[1]) in (select distinct trim(job_area) from jobs where job_id in {filtro_jobs})"""
datasource_prospects = spark.createDataFrame(wr.athena.read_sql_query(query, database="prod-lakehouse-mirror", boto3_session=my_boto3_session, s3_output='s3://query-temp-result'))
# datasource_prospects.count()

Wall time: 14.7 s

In [26]:
%%time
query = f"""select a.*
from "prod-lakehouse-mirror".prospects_smart_skills as a
inner join "prod-lakehouse-mirror".prospects as b
on a.linkedin_user_name = b.linkedin_user_name
where trim(split(prospect_area,' - ')[1]) in (select distinct trim(job_area) from jobs where job_id in {filtro_jobs})"""
datasource_prospects_smart_skills = spark.createDataFrame(wr.athena.read_sql_query(query, database="prod-lakehouse-mirror", boto3_session=my_boto3_session, s3_output='s3://query-temp-result'))
# datasource_prospects_smart_skills.count()

Wall time: 16.8 s

In [27]:
%%time
query = f"""select a.*
from "prod-lakehouse-mirror".prospects_diversity as a
inner join "prod-lakehouse-mirror".prospects as b
on a.linkedin_user_name = b.linkedin_user_name
where trim(split(prospect_area,' - ')[1]) in (select distinct trim(job_area) from jobs where job_id in {filtro_jobs})"""
datasource_prospects_diversity = spark.createDataFrame(wr.athena.read_sql_query(query, database="prod-lakehouse-mirror", boto3_session=my_boto3_session, s3_output='s3://query-temp-result'))
# datasource_prospects_smart_skills.count()

Wall time: 13.7 s

In [28]:
%%time
query = f"""select
 a.linkedin_user_name
,case when a.linkedin_company_name is null then 'Missing' else a.linkedin_company_name end as linkedin_company_name
,case when a.experience_location is null then 'Missing' else a.experience_location end as experience_location
,case when a.experience_position is null then 'Missing' else a.experience_position end as experience_position
,case when a.experience_date_from is null then 'Missing' else a.experience_date_from end as experience_date_from
,case when a.experience_date_to is null then 'Missing' else a.experience_date_to end as experience_date_to
,case when a.experience_duration_months is null then 0 else a.experience_duration_months end as experience_duration_months
,a.flag_last_experience
,a.company_classification
,case when a.linkedin_company_user_name is null then 'Missing' else a.linkedin_company_user_name end as linkedin_company_user_name
,case when a.experience_description is null then 'Missing' else a.experience_description end as experience_description
from "prod-lakehouse-mirror".prospects_experiences as a
inner join "prod-lakehouse-mirror".prospects as b
on a.linkedin_user_name = b.linkedin_user_name
where trim(split(prospect_area,' - ')[1]) in (select distinct trim(job_area) from jobs where job_id in {filtro_jobs})"""
datasource_prospects_experiences = spark.createDataFrame(wr.athena.read_sql_query(query, database="prod-lakehouse-mirror", boto3_session=my_boto3_session, s3_output='s3://query-temp-result'))
# datasource_prospects_experiences.count()

Wall time: 18.6 s

In [29]:
%%time
query = f"""select distinct a.linkedin_user_name, a.talent_status
from "prod-lakehouse-mirror".talents as a
inner join "prod-lakehouse-mirror".prospects as b
on a.linkedin_user_name = b.linkedin_user_name
and a.talent_status = 'AVAILABLE'
and trim(split(b.prospect_area,' - ')[1]) in (select distinct trim(job_area) from jobs where job_id in {filtro_jobs})
and a.linkedin_user_name in ('brunocorreiaa', 'renancambre', 'bscmv', 'luis-rodrigues-phd', 'thiago-nobre-mascarenhas-108a99105', 'patrickreis', 'viniciusamaro', 'msantino', 'gabrielstankevix', 'michelfornaciali', 'lirielly', 'rodrigo-diana', 'cicduarte', 'pfcor', 'maria-clara-vilas-boas-845115144', 'marinaldo-andrade-de-sousa-622b7a167', 'lazarini-bruno')"""
datasource_talents = spark.createDataFrame(wr.athena.read_sql_query(query, database="prod-lakehouse-mirror", boto3_session=my_boto3_session, s3_output='s3://query-temp-result'))
# datasource_talents.count()

Wall time: 8.16 s

## Code to Run on AWS Glue

## Glue Job step by step

In [30]:
%%time
PathModelMojo='StackedEnsemble_BestOfFamily_4_AutoML_1_20220907_214850.zip'

###
# import sys
# from awsglue.transforms import *
# from awsglue.utils import getResolvedOptions
# from awsglue.context import GlueContext
# from awsglue.job import Job
# from pyspark.context import SparkContext
# from pyspark.sql.types import *
# import pyspark.sql.functions as F
# from pyspark.sql.window import Window
# from pysparkling.ml import H2OMOJOSettings
# from pysparkling.ml import H2OMOJOModel
###

## @params: [JOB_NAME]
###
# args = getResolvedOptions(sys.argv, ["JOB_NAME"])
###

#Job setup
###
# sc = SparkContext()
# glueContext = GlueContext(sc)
# spark = glueContext.spark_session
###
# spark.conf.set("spark.sql.sources.partitionOverwriteMode","dynamic")
#desabilitado a funcao de BroadcastJoin do spark porque estava ocorrendo erra de timeout 300 secs nos joins

###
# job = Job(glueContext)
# job.init(args["JOB_NAME"], args)
###

## selected Features: variaveis que entraram no modelo
CAT = ['application_current_phase_active'
,'application_hiring_model'
,'expected_salary_interval'
,'reason_disapproval'
,'application_status'
,'prev_application_job_area'
,'prev_application_job_department'
,'last_company_classification'
,'job_area'
,'prev_approach_job_area'
,'prev_approach_status'
,'company_classification_migration'
,'talent_info_source'
,'prev_approach_job_area_to_job_area'
,'prev_application_job_area_to_job_area'
,'prev_approach_company_classification_migration'
,'prev_application_company_classification_migration'
,'prev_approach_job_seniority_to_job_seniority'
,'prev_application_job_seniority_to_job_seniority'
,'prev_approach_job_position_to_job_position'
,'prev_application_job_position_to_job_position'
,'prev_application_job_hiring_type_to_job_hiring_type'
,'prospect_seniority_migration'
,'declared_seniority_migration'
,'prospect_location_state'
,'prospect_location_region'
,'prospect_area_migration']

#float
NUM = ['previous_applications_qty'
,'days_since_last_application'
,'prospect_smart_skills_qty'
,'prospect_experiences_qty'
,'prospect_companies_qty'
,'total_experience_months'
,'experience_duration_months_min'
,'experience_duration_months_clean_avg'
,'last_experience_duration_months'
,'max_salary_offered'
,'previous_approaches_qty'
,'max_salary_offered_to_prev_approach'
,'max_salary_offered_to_prev_application'
,'last_experience_descriptions_word_count'
,'all_company_classifications_count'
,'all_job_question_correct_answers_word_count'
,'all_job_skill_names_word_count'
,'import_policy_word_count'
,'job_validation_questions_word_count'
,'match_skill_count'
,'days_since_last_approach']
selected_features = CAT + NUM

##functions
def ratings(p1):
    if p1 <= 0.0338300070001797:
        return 1
    elif p1 <= 0.0486186573387924:
        return 2
    elif p1 <= 0.0623809672934295:
        return 3
    elif p1 <= 0.0827157113995381:
        return 4
    elif p1 <= 0.1290387149453732:
        return 5
    elif p1 <= 0.1499471801108515:
        return 6
    elif p1 <= 0.1767854001417186:
        return 7
    elif p1 <= 0.2136274391366556:
        return 8
    elif p1 <= 0.2771891382694837:
        return 9
    else:
        return 10
ratings_func = F.udf(ratings, StringType())

def suggestion(predict):
    if predict == 0:
        return 'Repensar'
    elif predict == 1:
        return 'Abordar'
    else:
        return 'SUGGESTION_ERROR'
suggestion_func = F.udf(suggestion, StringType())

def list_word_count(lista):
    lista = ' '.join(map(str,lista))
    if lista in ('', 'null', None, 'None'):
        return 0
    else:
        return len(lista.split())
list_word_count_func = F.udf(list_word_count, IntegerType())

def string_word_count(string):
    if string in ('', 'null', None, 'None'):
        return 0
    else:
        return len(string.split())
string_word_count_func = F.udf(string_word_count, IntegerType())

def word_count(lista):
        return len(lista)
word_count_func = F.udf(word_count, IntegerType())

def experience_word_count(string):
    if string in ('', 'null', None, 'None', 'Missing'):
        return 0
    else:
        return len(string.split())
experience_word_count_func = F.udf(experience_word_count, IntegerType())

def company_count(lista):
    count = lista.count('Missing')
    for i in range(count):
        lista.remove('Missing')
    return len(lista)
company_count_func = F.udf(company_count, IntegerType())

def company_word_count(lista):
    lista = ' '.join(map(str,lista))
    if lista in ('', 'null', None, 'None'):
        return 0
    else:
        return len(lista.split())
company_word_count_func = F.udf(company_word_count, IntegerType())

#Criação das variáveis de pais com base na variavel propesct_location do linkedin. Para comparar abordagens de talentos que moram fora do Brasil
def prospect_country(country):
    if country in ('', 'null', None, 'None', 'Missing'):
        return "Missing"
    elif country == 'São Paulo':
        return 'Brazil'
    elif country == 'Rio de Janeiro':
        return 'Brazil'
    elif country == 'Campinas':
        return 'Brazil'
    elif country == 'Belo Horizonte':
        return 'Brazil'
    elif country == 'Porto Alegre':
        return 'Brazil'
    elif country == 'Curitiba':
        return 'Brazil'
    elif country == 'Brasília':
        return 'Brazil'
    elif country == 'Florianópolis':
        return 'Brazil'
    elif country == 'Salvador':
        return 'Brazil'
    elif country == 'Fortaleza':
        return 'Brazil'
    elif country == 'Recife':
        return 'Brazil'
    elif country == 'Manaus':
        return 'Brazil'
    elif country == 'Ribeirão Preto':
        return 'Brazil'
    elif country == 'Goiânia':
        return 'Brazil'
    elif country == 'João Pessoa':
        return 'Brazil'
    elif country == 'Londrina':
        return 'Brazil'
    elif country == 'Vitória':
        return 'Brazil'
    elif country == 'Cuiabá':
        return 'Brazil'
    elif country == 'Greater São Paulo Area':
        return 'Brazil'
    elif country == 'Natal':
        return 'Brazil'
    elif country == 'São luis':
        return 'Brazil'
    elif country == 'Brazil':
        return 'Brazil'
    elif country == 'Brasil':
        return 'Brazil'
    else:
        return 'Others'
    
prospect_country_func = F.udf(prospect_country, StringType())
    
#Separacao entre os estados brasileiros, os estados do norte e nordeste foram definidos como um unico grupo porque o volume de abordagens eh menor
def prospect_region(state):
    if state in ('', 'null', None, 'None', 'Missing'):
        return "Missing"
    elif state == 'São Paulo':
        return 'São Paulo'
    elif state == 'Minas Gerais':
        return 'Minas Gerais'
    elif state == 'Rio de Janeiro':
        return 'Rio de Janeiro'
    elif state == 'Paraná':
        return 'Paraná'
    elif state == 'Santa Catarina':
        return 'Santa Catarina'
    elif state == 'Rio Grande do Sul':
        return 'Rio Grande do Sul'
    elif state == 'Espírito Santo':
        return 'Espírito Santo'
    elif state == 'Mato Grosso do Sul':
        return 'Mato Grosso do Sul'
    elif state == 'Mato Grosso':
        return 'Mato Grosso'    
    elif state == 'Goiás':
        return 'Goiás'
    elif state == 'Paraíba':
        return 'Paraíba'
    elif state == 'Pernambuco':
        return 'Pernambuco'
    elif state == 'Bahia':
        return 'Bahia'
    elif state == 'Sergipe':
        return 'Sergipe'
    elif state == 'Alagoas':
        return 'Alagoas'
    elif state == 'Ceará':
        return 'Ceará'
    elif state == 'Maranhão':
        return 'Maranhão'
    elif state == 'Piau':
        return 'Piau'
    elif state == 'Rio Grande do Norte':
        return 'Rio Grande do Norte'
    elif state in ( 'Acre'
                   ,'Amapá'
                   ,'Amazonas'
                   ,'Pará'
                   ,'Rondônia'
                   ,'Roraima'
                   ,'Tocantins'):
        return 'Norte'
    else:
        return 'Others'
    
prospect_region_func = F.udf(prospect_region, StringType())

#Correção da variavel estado quando o pais nao for Brasil
def prospect_region_international(state, country):
    if country not in ('Brazil', 'Missing'):
        return "International"
    elif state in ('', 'null', None, 'None', 'Missing'):
        return "Missing"
    elif state == 'sao paulo':
        return "São Paulo"
    elif state == 'Federal District':
        return "Distrito Federal"
    else:
        return state
prospect_region_international_func = F.udf(prospect_region_international, StringType())

#Se a fonte dos dados do talento vieram de "Approaches", "Applications" ou "Prospects"
def talent_info_source(previous_approaches_qty, previous_applications_qty, prospects_updated_at_date_ts):
    try:
        source = 'null'
        try:
            if prospects_updated_at_date_ts not in ('', 'null', None, 'None'):
                if source in ('', 'null', None, 'None'):
                    source = 'prospects'
                else:                    
                    source = '_'.join([source, 'prospects'])
        except:
            pass
        try:
            if (previous_approaches_qty > 0):
                if source in ('', 'null', None, 'None'):
                    source = 'approaches'
                else:
                    source = '_'.join([source, 'approaches'])
        except:
            pass
        try:
            if (previous_applications_qty > 0):
                if source in ('', 'null', None, 'None'):
                    source = 'applications'
                else:
                    source = '_'.join([source, 'applications'])
        except:
            pass
        try:
            if source in ('', 'null', None, 'None'):
                return 'Missing'
        except:
            pass
        return source
    except TypeError as e:
        print(e)
        return 'Missing'
talent_info_source_func = F.udf(talent_info_source, StringType())

def match_skill_count(job_skills, talent_skills):
    counter = 0
    if (job_skills not in ('', 'null', None, 'None', 'Missing')) & (talent_skills not in ('', 'null', None, 'None', 'Missing')):
        for i in job_skills.split(','):
            if talent_skills.split(',').count(i) > 0 and i != 'Missing':
                counter += 1
    return counter
match_skill_count_func = F.udf(match_skill_count, IntegerType())

Wall time: 0 ns

In [31]:
%%time
## JOBS
# datasource_jobs = glueContext.create_dynamic_frame.from_catalog(database = "prod-lakehouse-mirror", table_name = "jobs", transformation_ctx = "datasource_clients", additional_options={"mergeSchema": "true"}).toDF()\
# .fillna(value="Missing")

datasource_jobs = datasource_jobs0.fillna(value="Missing")
datasource_jobs.count()

Wall time: 2.62 s

2591

In [32]:
%%time
datasource_jobs2 = datasource_jobs.withColumn('import_policy_word_count', string_word_count_func(F.col('import_policy')))\
.withColumn('job_validation_questions_word_count', string_word_count_func(F.col('job_validation_questions')))\
.withColumn('min_salary_offered', F.col('min_salary_offered').cast(IntegerType()))\
.withColumn('max_salary_offered', F.col('max_salary_offered').cast(IntegerType()))\
.withColumnRenamed('company_classification', 'job_company_classification')\
.drop('import_policy', 'job_validation_questions').persist()
datasource_jobs2.count()

Wall time: 1.73 s

2591

In [33]:
%%time
# datasource_questions = glueContext.create_dynamic_frame.from_catalog(database = "prod-lakehouse-mirror", table_name = "jobs_questions", transformation_ctx = "datasource_questions", additional_options={"mergeSchema": "true"}).toDF()

datasource_questions2 = datasource_questions\
.withColumn('job_question_correct_answers', F.regexp_replace(F.concat(F.col('question'), F.lit(' '), F.col('correct_answer')), ',', '||'))\
.groupBy('job_id').agg(F.collect_list(F.col('job_question_correct_answers')).alias('all_job_question_correct_answers'))\
.withColumn('all_job_question_correct_answers_word_count', list_word_count_func(F.col('all_job_question_correct_answers')))\
.drop('all_job_question_correct_answers')\
.withColumnRenamed('job_id', 'job_id_tmp')
datasource_questions2.count()

Wall time: 3.62 s

473

In [34]:
%%time
# datasource_skills = glueContext.create_dynamic_frame.from_catalog(database = "prod-lakehouse-mirror", table_name = "jobs_skills", transformation_ctx = "datasource_skills", additional_options={"mergeSchema": "true"}).toDF()

datasource_skills2 = datasource_skills.groupBy('job_id').agg(F.collect_list(F.col('skill_name')).alias('all_job_skill_names'))\
.withColumn('all_job_skill_names_word_count', list_word_count_func(F.col('all_job_skill_names')))\
.withColumn('all_job_skill_names', F.concat_ws(",", F.col('all_job_skill_names')))\
.withColumnRenamed('job_id', 'job_id_tmp')
datasource_skills2.count()

Wall time: 2.64 s

1303

In [35]:
%%time
# datasource_clients_offlimits = glueContext.create_dynamic_frame.from_catalog(database = "prod-lakehouse-mirror", table_name = "clients_offlimits", transformation_ctx = "datasource_clients_offlimits", additional_options={"mergeSchema": "true"}).toDF()

datasource_clients_offlimits2 = datasource_clients_offlimits.dropDuplicates(subset = ['company_id', 'client_offlimit_linkedin_user_name'])
datasource_clients_offlimits3 = datasource_clients_offlimits2.groupBy('company_id').agg(F.collect_list(F.col('client_offlimit_linkedin_user_name')).alias('client_offlimit_linkedin_user_names'))\
.withColumn('client_offlimit_linkedin_user_names', F.concat_ws(",", F.col('client_offlimit_linkedin_user_names')))
datasource_clients_offlimits3.count()

Wall time: 8.57 s

109

In [36]:
%%time
datasource_jobs3 = datasource_jobs2.alias('df1')\
.join(datasource_skills2.alias('df2'),
on = datasource_jobs2['job_id'] == datasource_skills2['job_id_tmp'],
how = 'left').select('df1.*',
'df2.*').alias('df3')\
.join(datasource_questions2.alias('df4'),
on = datasource_jobs2['job_id'] == datasource_questions2['job_id_tmp'],
how = 'left').select('df3.*',
'df4.*').alias('df5')\
.join(datasource_clients_offlimits3.alias('df6'),
on = datasource_jobs2['company_id'] == datasource_clients_offlimits3['company_id'],
how = 'left').select('df5.*',
'df6.client_offlimit_linkedin_user_names')\
.drop('job_id_tmp')\
.fillna(value="No_offlimits", subset=['client_offlimit_linkedin_user_names'])\
.fillna(value="Missing").persist()
# datasource_jobs3.count()

Wall time: 337 ms

In [37]:
%%time
datasource_jobs4 = datasource_jobs3.where((F.col('job_status').isin('SETUP', 'FIRST_CICLE', 'SECOND_CICLE')) | (F.col('job_id')==2703))\
.where(F.col('job_id').isin(2689, 2703))\
.persist()
# .where(F.col('job_id').isin(2689, 2546, 2666, 2214, 2578, 2345, 2303, 2454, 2222, 2645, 2651, 2665, 2671, 2669, 2449, 2675, 2267, 2703)).persist()
datasource_jobs4.count()

Wall time: 3min 56s

2

In [38]:
%%time
## Applications
# datasource_applications = glueContext.create_dynamic_frame.from_catalog(database = "prod-lakehouse-mirror", table_name = "applications", transformation_ctx = "datasource_applications", additional_options={"mergeSchema": "true"}).toDF()

datasource_applications2 = datasource_applications.withColumn("application_rank", F.row_number().over(Window.partitionBy('linkedin_user_name').orderBy(F.col("application_creation_date_ts").desc(), F.col("application_id_backoffice").desc())))\
.withColumn("previous_applications_qty", F.row_number().over(Window.partitionBy('linkedin_user_name').orderBy(F.col("application_creation_date_ts").asc(), F.col("application_id_backoffice").asc())))\
.withColumn("current_date",F.current_date())\
.withColumn('days_since_last_application', ((F.datediff(F.col('current_date'), F.col('application_creation_date_ts')))))\
.where(F.col('application_rank')==1)\
.drop('current_date', 'application_rank')
datasource_applications2.count()

Wall time: 4 s

156460

In [39]:
%%time
datasource_applications3 = datasource_applications2.alias('df1')\
.join(datasource_jobs3.alias('df2'),
on = datasource_applications2['job_id'] == datasource_jobs3['job_id'],
how = 'left').select('df1.*',
'df2.job_area',
'df2.job_department',
'df2.job_seniority',
'df2.max_salary_offered',
'df2.job_position',
'df2.job_hiring_type',
'df2.job_company_classification',
'df2.all_job_skill_names')\
.withColumnRenamed('job_id', 'prev_application_job_id')\
.withColumnRenamed('job_area', 'prev_application_job_area')\
.withColumnRenamed('job_seniority', 'prev_application_job_seniority')\
.withColumnRenamed('max_salary_offered', 'prev_application_max_salary_offered')\
.withColumnRenamed('job_position', 'prev_application_job_position')\
.withColumnRenamed('job_hiring_type', 'prev_application_job_hiring_type')\
.withColumnRenamed('job_department', 'prev_application_job_department')\
.withColumnRenamed('job_company_classification', 'prev_application_job_company_classification')\
.withColumnRenamed('all_job_skill_names', 'prev_application_all_job_skill_names')\
.withColumnRenamed('linkedin_user_name', 'linkedin_user_name_tmp')\
.fillna(value="Missing")
datasource_applications3.count()

Wall time: 4.64 s

156460

In [40]:
%%time
## Approaches
# datasource_approaches = glueContext.create_dynamic_frame.from_catalog(database = "prod-lakehouse-mirror", table_name = "approaches", transformation_ctx = "datasource_approaches", additional_options={"mergeSchema": "true"}).toDF()

datasource_approaches2 = datasource_approaches.withColumn("approach_rank", F.row_number().over(Window.partitionBy('linkedin_user_name').orderBy(F.col("created_at_date_ts").desc(), F.col("approach_id").desc())))\
.withColumn("previous_approaches_qty", F.row_number().over(Window.partitionBy('linkedin_user_name').orderBy(F.col("created_at_date_ts").asc(), F.col("approach_id").asc())))\
.withColumn("current_date",F.current_date())\
.withColumn('days_since_last_approach', ((F.datediff(F.col('current_date'), F.col('created_at_date_ts')))))\
.where(F.col('approach_rank')==1)\
.drop('current_date', 'approach_rank')
datasource_approaches2.count()

Wall time: 4.01 s

172070

In [41]:
%%time
# datasource_approaches_status = glueContext.create_dynamic_frame.from_catalog(database = "prod-lakehouse-mirror", table_name = "approaches_status", transformation_ctx = "datasource_approaches_status", additional_options={"mergeSchema": "true"}).toDF()\
# .orderBy(['approach_id', 'approach_status_date_ts'], ascending=False)\
# .dropDuplicates(subset = ['approach_id'])

datasource_approaches_status = datasource_approaches_status0.orderBy(['approach_id', 'approach_status_date_ts'], ascending=False)\
.dropDuplicates(subset = ['approach_id'])
datasource_approaches_status.count()

Wall time: 3.71 s

479750

In [42]:
%%time
datasource_approaches3 = datasource_approaches2.alias('df1')\
.join(datasource_approaches_status.alias('df2'),
on = datasource_approaches2['approach_id'] == datasource_approaches_status['approach_id'],
how = 'left').select('df1.*', 'df2.approach_status')
datasource_approaches3.count()

Wall time: 55.3 s

172070

In [60]:
%%time
datasource_approaches4 = datasource_approaches3.alias('df1')\
.join(datasource_jobs3.alias('df2'),
on = datasource_approaches3['job_id'] == datasource_jobs3['job_id'],
how = 'left').select('df1.*',
'df2.job_area',
'df2.job_department',
'df2.job_seniority',
'df2.max_salary_offered',
'df2.job_position',
'df2.job_hiring_type',
'df2.job_company_classification',
'df2.all_job_skill_names')\
.withColumnRenamed('job_id', 'prev_approach_job_id')\
.withColumnRenamed('approach_status', 'prev_approach_status')\
.withColumnRenamed('job_seniority', 'prev_approach_job_seniority')\
.withColumnRenamed('job_position', 'prev_approach_job_position')\
.withColumnRenamed('max_salary_offered', 'prev_approach_max_salary_offered')\
.withColumnRenamed('job_area', 'prev_approach_job_area')\
.withColumnRenamed('job_department', 'prev_approach_job_department')\
.withColumnRenamed('job_company_classification', 'prev_approach_job_company_classification')\
.withColumnRenamed('all_job_skill_names', 'prev_approach_all_job_skill_names')\
.withColumnRenamed('linkedin_user_name', 'linkedin_user_name_tmp')\
.fillna(value="Missing")
datasource_approaches4.count()

Wall time: 50.8 s

172070

In [61]:
%%time
## Prospects
# datasource_prospects = glueContext.create_dynamic_frame.from_catalog(database = "prod-lakehouse-mirror", table_name = "prospects", transformation_ctx = "datasource_prospects", additional_options={"mergeSchema": "true"}).toDF()

datasource_prospects2 = datasource_prospects\
.withColumn('prospect_location_country_tmp1', F.reverse(F.split(F.col('prospect_location'), ',')).getItem(0))\
.withColumn('prospect_location_country_tmp2', F.trim(F.regexp_replace(F.col('prospect_location_country_tmp1'), " e Região", "")))\
.withColumn('prospect_location_country', prospect_country_func(F.col('prospect_location_country_tmp2')))\
.withColumn('prospect_location_state_tmp1', F.reverse(F.split(F.col('prospect_location'), ',')).getItem(1))\
.withColumn('prospect_location_state_tmp2', F.trim(F.regexp_replace(F.col('prospect_location_state_tmp1'), " e Região", "")))\
.withColumn('prospect_location_state', prospect_region_international_func(F.col('prospect_location_state_tmp2'), F.col('prospect_location_country')))\
.withColumn('prospect_location_city_tmp1', F.reverse(F.split(F.col('prospect_location'), ',')).getItem(2))\
.withColumn('prospect_location_city_tmp2', F.trim(F.regexp_replace(F.col('prospect_location_city_tmp1'), " e Região", "")))\
.withColumn('prospect_location_city', prospect_region_international_func(F.col('prospect_location_city_tmp2'), F.col('prospect_location_country')))\
.withColumn('prospect_location_region_tmp1', prospect_region_func(F.col('prospect_location_state')))\
.withColumn('prospect_location_region', prospect_region_international_func(F.col('prospect_location_region_tmp1'), F.col('prospect_location_country')))\
.withColumn("prospect_department", F.trim(F.split(F.col('prospect_area'),' - ').getItem(1)))\
.withColumn("prospect_area", F.trim(F.split(F.col('prospect_area'),' ').getItem(0)))\
.withColumnRenamed('linkedin_user_name', 'linkedin_user_name_tmp')\
.withColumnRenamed('updated_at_date_ts', 'prospects_updated_at_date_ts')\
.fillna(value="Missing")
datasource_prospects2.count()

Wall time: 639 ms

9305

In [62]:
# datasource_prospects2.select('prospect_location', 'prospect_location_city', 'prospect_location_state', 'prospect_location_region', 'prospect_location_country').show(truncate=False)

In [63]:
%%time
# datasource_prospects_smart_skills = glueContext.create_dynamic_frame.from_catalog(database = "prod-lakehouse-mirror", table_name = "prospects_smart_skills", transformation_ctx = "datasource_prospects_smart_skills", additional_options={"mergeSchema": "true"}).toDF()

datasource_prospects_smart_skills2 = datasource_prospects_smart_skills.groupBy('linkedin_user_name').agg(F.count(F.col('prospect_smart_skill')).alias('prospect_smart_skills_qty'), F.collect_list(F.col('prospect_smart_skill')).alias('all_prospect_smart_skills'))

datasource_prospects_smart_skills3 = datasource_prospects_smart_skills2.withColumn('all_prospect_smart_skills_word_count', word_count_func(F.col('all_prospect_smart_skills')))\
.withColumn('all_prospect_smart_skills', F.concat_ws(",", F.col('all_prospect_smart_skills')))\
.withColumnRenamed('linkedin_user_name', 'linkedin_user_name_tmp')
datasource_prospects_smart_skills3.count()

Wall time: 2.05 s

7371

In [64]:
%%time
# datasource_prospects_diversity = glueContext.create_dynamic_frame.from_catalog(database = "prod-lakehouse-mirror", table_name = "prospects_diversity", transformation_ctx = "datasource_prospects_diversity", additional_options={"mergeSchema": "true"}).toDF()

datasource_prospects_diversity2 = datasource_prospects_diversity.groupBy('linkedin_user_name').agg(F.count(F.col('prospect_diversity')).alias('prospect_diversity_qty'), F.collect_list(F.col('prospect_diversity')).alias('all_prospect_diversity'))

datasource_prospects_diversity3 = datasource_prospects_diversity2.withColumn('all_prospect_diversity', F.concat_ws(",", F.col('all_prospect_diversity')))\
.withColumnRenamed('linkedin_user_name', 'linkedin_user_name_tmp')
datasource_prospects_diversity3.count()

Wall time: 1.93 s

2103

In [65]:
%%time
# datasource_prospects_experiences = glueContext.create_dynamic_frame.from_catalog(database = "prod-lakehouse-mirror", table_name = "prospects_experiences", transformation_ctx = "datasource_prospects_experiences", additional_options={"mergeSchema": "true"}).toDF()

datasource_prospects_experiences2 = datasource_prospects_experiences\
.withColumn('experience_duration_months_clean', F.when(F.col('flag_last_experience')==True, None).otherwise(F.col('experience_duration_months')))\
.withColumn('last_company_classification_tmp', F.when(F.col('flag_last_experience')==True, F.col('company_classification')).otherwise(None))\
.withColumn('linkedin_company_user_name_tmp', F.when(F.col('flag_last_experience')==True, F.col('linkedin_company_user_name')).otherwise(None))\
.withColumn('last_experience_duration_months', F.when(F.col('flag_last_experience')==True, F.col('experience_duration_months')).otherwise(F.lit(0)))\
.withColumn('experience_descriptions_word_count', experience_word_count_func(F.col('experience_description')))\
.withColumn('last_experience_descriptions_word_count', F.when(F.col('flag_last_experience')==True, F.col('experience_descriptions_word_count')).otherwise(F.lit(0)))\
.groupBy('linkedin_user_name').agg(F.count(F.col('linkedin_company_name')).alias('prospect_experiences_qty'),
                                   F.countDistinct(F.col('linkedin_company_name')).alias('prospect_companies_qty'),
                                   F.sum(F.col('experience_duration_months')).alias('total_experience_months'),
                                   F.min(F.col('experience_duration_months')).alias('experience_duration_months_min'),
                                   F.sum(F.col('last_experience_duration_months')).alias('last_experience_duration_months'),
                                   F.sum(F.col('last_experience_descriptions_word_count')).alias('last_experience_descriptions_word_count'),
                                   F.avg(F.col('experience_duration_months_clean')).alias('experience_duration_months_clean_avg'),
                                   F.collect_list(F.col('company_classification')).alias('all_company_classifications'),
                                   F.collect_list(F.col('last_company_classification_tmp')).alias('last_company_classification_tmp2'),
                                   F.collect_list(F.col('linkedin_company_user_name_tmp')).alias('linkedin_company_user_name_tmp2')
                                  )\
.withColumn('last_company_classification', F.trim(F.reverse(F.col('last_company_classification_tmp2')).getItem(0)))\
.withColumn('linkedin_company_user_name', F.trim(F.reverse(F.col('linkedin_company_user_name_tmp2')).getItem(0)))\
.withColumn('all_company_classifications_word_count', company_word_count_func(F.col('all_company_classifications')))\
.withColumn('all_company_classifications_count', company_count_func(F.col('all_company_classifications')))\
.drop('all_company_classifications', 'last_company_classification_tmp', 'last_company_classification_tmp2', 'linkedin_company_user_name_tmp', 'linkedin_company_user_name_tmp2')\
.withColumnRenamed('linkedin_user_name', 'linkedin_user_name_tmp')\
.fillna(value="Missing")
datasource_prospects_experiences2.count()

Wall time: 2.29 s

8537

In [66]:
## Clients
# datasource_clients = glueContext.create_dynamic_frame.from_catalog(database = "prod-lakehouse-mirror", table_name = "clients", transformation_ctx = "datasource_clients", additional_options={"mergeSchema": "true"}).toDF().where(F.col('flag_off_limit')==True).dropDuplicates(subset=['linkedin_company_user_name'])
datasource_clients = datasource_clients0.where(F.col('flag_off_limit')==True).dropDuplicates(subset=['linkedin_company_user_name'])
datasource_clients.count()

158

In [79]:
%%time
##Talents
# datasource_talents = glueContext.create_dynamic_frame.from_catalog(database = "prod-lakehouse-mirror", table_name = "talents", transformation_ctx = "datasource_talents", additional_options={"mergeSchema": "true"}).toDF()\
# .where(F.col('talent_status') == 'AVAILABLE')

datasource_talents2 = datasource_talents.alias('df1')\
.join(datasource_applications3.alias('df2'),
on = datasource_talents['linkedin_user_name'] == datasource_applications3['linkedin_user_name_tmp'],
how = 'left').select('df1.*',
'df2.talent_last_email',
'df2.application_current_phase_active',
'df2.application_status',
'df2.application_hiring_model',
'df2.reason_disapproval',
'df2.expected_salary_interval',
'df2.max_salary_expected',
'df2.previous_applications_qty',
'df2.days_since_last_application',
'df2.prev_application_job_area',
'df2.prev_application_job_id',
'df2.prev_application_job_department',
'df2.prev_application_job_company_classification',
'df2.prev_application_job_seniority',
'df2.prev_application_max_salary_offered',
'df2.prev_application_job_position',
'df2.prev_application_all_job_skill_names',
'df2.prev_application_job_hiring_type',
'df2.pipefy_last_card_id_link').alias('df3')\
.join(datasource_approaches4.alias('df4'),
on = datasource_talents['linkedin_user_name'] == datasource_approaches4['linkedin_user_name_tmp'],
how = 'left').select('df3.*',
'df4.prev_approach_job_id',
'df4.prev_approach_job_area',
'df4.prev_approach_status',
'df4.previous_approaches_qty',
'df4.prev_approach_job_company_classification',
'df4.prev_approach_job_seniority',
'df4.prev_approach_job_position',
'df4.prev_approach_job_department',                     
'df4.prev_approach_max_salary_offered',
'df4.prev_approach_all_job_skill_names',
'df4.days_since_last_approach',
'df4.approach_id').alias('df5')\
.join(datasource_prospects2.alias('df6'),
on = datasource_talents['linkedin_user_name'] == datasource_prospects2['linkedin_user_name_tmp'],
how = 'left').select('df5.*',
'df6.prospect_location_city',
'df6.prospect_location_state',
'df6.prospect_location_region',
'df6.prospects_updated_at_date_ts',
'df6.prospect_seniority',
'df6.prospect_area',
'df6.prospect_department',
'df6.declared_seniority').alias('df7')\
.join(datasource_prospects_smart_skills3.alias('df8'),
on = datasource_talents['linkedin_user_name'] == datasource_prospects_smart_skills3['linkedin_user_name_tmp'],
how = 'left').select('df7.*',
'df8.prospect_smart_skills_qty',
'df8.all_prospect_smart_skills_word_count',
'df8.all_prospect_smart_skills').alias('df9')\
.join(datasource_prospects_diversity3.alias('df10'),
on = datasource_talents['linkedin_user_name'] == datasource_prospects_diversity3['linkedin_user_name_tmp'],
how = 'left').select('df9.*',
'df10.prospect_diversity_qty',
'df10.all_prospect_diversity').alias('df11')\
.join(datasource_prospects_experiences2.alias('df12'),
on = datasource_talents['linkedin_user_name'] == datasource_prospects_experiences2['linkedin_user_name_tmp'],
how = 'left').select('df11.*',
'df12.prospect_experiences_qty',
'df12.prospect_companies_qty',
'df12.total_experience_months',
'df12.experience_duration_months_min',
'df12.last_experience_duration_months',
'df12.last_experience_descriptions_word_count',
'df12.experience_duration_months_clean_avg',
'df12.last_company_classification',
'df12.all_company_classifications_word_count',
'df12.all_company_classifications_count',
'df12.linkedin_company_user_name')\
.withColumn('talent_info_source', talent_info_source_func(F.col('previous_approaches_qty'), F.col('previous_applications_qty'), F.col('prospects_updated_at_date_ts')))\
.withColumn('linkedin', F.concat(F.lit('https://www.linkedin.com/in/'), F.trim(F.col('linkedin_user_name'))))\
.drop('linkedin_user_name_tmp')\
.fillna(value="Missing")

datasource_talents3 = datasource_talents2.alias('df1')\
.join(datasource_clients.alias('df2'),
on = datasource_talents2['linkedin_company_user_name'] == datasource_clients['linkedin_company_user_name'],
how = 'left').select('df1.*',
'df2.flag_off_limit')\
.where(F.col('flag_off_limit').isNull())

datasource_talents3.count()

Wall time: 7min 30s

14

In [80]:
# datasource_talents3.groupBy('all_prospect_diversity').count().show(50)

In [90]:
%%time
## Cross join
additional_features=['linkedin_user_name'
,'talent_status'
,'job_id'
,'prospect_area'
,'prospect_department'
,'prev_approach_job_department'
,'job_department'
,'all_job_skill_names'
,'prev_approach_all_job_skill_names'
,'all_prospect_smart_skills'
,'prev_application_all_job_skill_names'
,'talent_previous_job_id'
,'talent_area'
,'talent_department'
,'talent_skills'
,'talent_expected_salary'
,'talent_expected_salary_interval'
,'talent_hiring_model'
,'talent_location_state'
,'talent_location_city'
,'talent_seniority'
,'linkedin'
,'pipefy_last_card_id_link'
,'talent_diversities'
,'talent_diversity_flag'
,'min_salary_offered'
,'job_position'
,'talent_position'
,'talent_last_email'
]
all_features = selected_features + additional_features

cross_join_talents_jobs = datasource_talents3.crossJoin(datasource_jobs4)\
.withColumn("company_classification_migration", F.trim(F.concat(F.col('last_company_classification'), F.lit('-to-'), F.col('job_company_classification'))))\
.withColumn("prev_approach_job_area_to_job_area", F.trim(F.concat(F.col('prev_approach_job_area'), F.lit('-to-'), F.col('job_area'))))\
.withColumn("prev_application_job_area_to_job_area", F.trim(F.concat(F.col('prev_application_job_area'), F.lit('-to-'), F.col('job_area'))))\
.withColumn("prev_approach_company_classification_migration", F.trim(F.concat(F.col('prev_approach_job_company_classification'), F.lit('-to-'), F.col('job_company_classification'))))\
.withColumn("prev_application_company_classification_migration", F.trim(F.concat(F.col('prev_application_job_company_classification'), F.lit('-to-'), F.col('job_company_classification'))))\
.withColumn("prev_approach_job_seniority_to_job_seniority", F.trim(F.concat(F.col('prev_approach_job_seniority'), F.lit('-to-'), F.col('job_seniority'))))\
.withColumn("prev_application_job_seniority_to_job_seniority", F.trim(F.concat(F.col('prev_application_job_seniority'), F.lit('-to-'), F.col('job_seniority'))))\
.withColumn("prev_approach_job_position_to_job_position", F.trim(F.concat(F.col('prev_approach_job_position'), F.lit('-to-'), F.col('job_position'))))\
.withColumn("prev_application_job_position_to_job_position", F.trim(F.concat(F.col('prev_application_job_position'), F.lit('-to-'), F.col('job_position'))))\
.withColumn("prev_application_job_hiring_type_to_job_hiring_type", F.trim(F.concat(F.col('prev_application_job_hiring_type'), F.lit('-to-'), F.col('job_hiring_type'))))\
.withColumn("prospect_seniority_migration", F.trim(F.concat(F.col('prospect_seniority'), F.lit('-to-'), F.col('job_seniority'))))\
.withColumn("declared_seniority_migration", F.trim(F.concat(F.col('declared_seniority'), F.lit('-to-'), F.col('job_seniority'))))\
.withColumn("prospect_area_migration", F.trim(F.concat(F.col('prospect_area'), F.lit('-to-'), F.col('job_area'))))\
.withColumn("max_salary_offered_to_prev_approach", (F.col('max_salary_offered') - F.col('prev_approach_max_salary_offered')))\
.withColumn("max_salary_offered_to_prev_application", (F.col('max_salary_offered') - F.col('prev_application_max_salary_offered')))\
.withColumn('prev_approach_max_salary_offered', F.col('prev_approach_max_salary_offered').cast(FloatType()))\
.fillna(value=-1, subset=["prev_approach_max_salary_offered"])\
.withColumn('prev_application_max_salary_offered', F.col('prev_application_max_salary_offered').cast(FloatType()))\
.fillna(value=21000.0, subset=["prev_application_max_salary_offered"])\
.withColumn('max_salary_expected', F.col('max_salary_expected').cast(FloatType()))\
.fillna(value=-1, subset=["max_salary_expected"])\
.withColumn('min_salary_offered', F.col('min_salary_offered').cast(FloatType()))\
.fillna(value=0, subset=["min_salary_offered"])\
.withColumn('max_salary_offered', F.col('max_salary_offered').cast(FloatType()))\
.fillna(value=-1, subset=["max_salary_offered"])\
.withColumn('previous_applications_qty', F.col('previous_applications_qty').cast(IntegerType()))\
.fillna(value=0, subset=["previous_applications_qty"])\
.withColumn('previous_approaches_qty', F.col('previous_approaches_qty').cast(IntegerType()))\
.fillna(value=0, subset=["previous_approaches_qty"])\
.withColumn('days_since_last_application', F.col('days_since_last_application').cast(IntegerType()))\
.fillna(value=999, subset=["days_since_last_application"])\
.withColumn('days_since_last_approach', F.col('days_since_last_approach').cast(IntegerType()))\
.fillna(value=999, subset=["days_since_last_approach"])\
.withColumn('prospect_smart_skills_qty', F.col('prospect_smart_skills_qty').cast(IntegerType()))\
.fillna(value=0, subset=["prospect_smart_skills_qty"])\
.withColumn('prospect_experiences_qty', F.col('prospect_experiences_qty').cast(IntegerType()))\
.fillna(value=6, subset=["prospect_experiences_qty"])\
.withColumn('prospect_companies_qty', F.col('prospect_companies_qty').cast(IntegerType()))\
.fillna(value=5, subset=["prospect_companies_qty"])\
.withColumn('total_experience_months', F.col('total_experience_months').cast(IntegerType()))\
.fillna(value=111, subset=["total_experience_months"])\
.withColumn('experience_duration_months_min', F.col('experience_duration_months_min').cast(IntegerType()))\
.fillna(value=0, subset=["experience_duration_months_min"])\
.withColumn('last_experience_duration_months', F.col('last_experience_duration_months').cast(IntegerType()))\
.fillna(value=41, subset=["last_experience_duration_months"])\
.withColumn('max_salary_offered_to_prev_application', F.col('max_salary_offered_to_prev_application').cast(FloatType()))\
.fillna(value=11902.34, subset=["max_salary_offered_to_prev_application"])\
.withColumn('max_salary_offered_to_prev_approach', F.col('max_salary_offered_to_prev_approach').cast(FloatType()))\
.fillna(value=11390.0, subset=["max_salary_offered_to_prev_approach"])\
.withColumn('all_job_question_correct_answers_word_count', F.col('all_job_question_correct_answers_word_count').cast(IntegerType()))\
.fillna(value=1, subset=["all_job_question_correct_answers_word_count"])\
.withColumn('all_job_skill_names_word_count', F.col('all_job_skill_names_word_count').cast(IntegerType()))\
.fillna(value=1, subset=["all_job_skill_names_word_count"])\
.withColumn('experience_duration_months_clean_avg', F.col('experience_duration_months_clean_avg').cast(FloatType()))\
.fillna(value=399, subset=["experience_duration_months_clean_avg"])\
.withColumn('all_company_classifications_count', F.col('all_company_classifications_count').cast(IntegerType()))\
.fillna(value=0, subset=["all_company_classifications_count"])\
.withColumn('last_experience_descriptions_word_count', F.col('last_experience_descriptions_word_count').cast(IntegerType()))\
.fillna(value=0, subset=["last_experience_descriptions_word_count"])\
.withColumn('all_prospect_smart_skills_word_count', F.col('all_prospect_smart_skills_word_count').cast(IntegerType()))\
.fillna(value=1, subset=["all_prospect_smart_skills_word_count"])\
.withColumn('all_company_classifications_word_count', F.col('all_company_classifications_word_count').cast(IntegerType()))\
.fillna(value=0, subset=["all_company_classifications_word_count"])\
.fillna(value=0, subset=["prev_application_job_id"])\
.fillna(value=0, subset=["prev_approach_job_id"])\
.withColumn('talent_area', F.coalesce((F.when(F.col('prev_application_job_area')=='Missing', None).otherwise(F.col('prev_application_job_area'))), (F.when(F.col('prev_approach_job_area')=='Missing', None).otherwise(F.col('prev_approach_job_area'))), (F.when(F.col('prospect_area')=='Missing', None).otherwise(F.col('prospect_area'))), F.lit('Missing')))\
.withColumn('talent_department', F.coalesce((F.when(F.col('prev_application_job_department')=='Missing', None).otherwise(F.col('prev_application_job_department'))), (F.when(F.col('prev_approach_job_department')=='Missing', None).otherwise(F.col('prev_approach_job_department'))), (F.when(F.col('prospect_department')=='Missing', None).otherwise(F.col('prospect_department')))))\
.withColumn('talent_skills', F.coalesce((F.when(F.col('all_prospect_smart_skills')=='Missing', None).otherwise(F.col('all_prospect_smart_skills'))), (F.when(F.col('prev_application_all_job_skill_names')=='Missing', None).otherwise(F.col('prev_application_all_job_skill_names'))), (F.when(F.col('prev_approach_all_job_skill_names')=='Missing', None).otherwise(F.col('prev_approach_all_job_skill_names'))), F.lit('Missing')))\
.withColumn('talent_seniority', F.coalesce((F.when(F.col('prev_application_job_seniority')=='Missing', None).otherwise(F.col('prev_application_job_seniority'))), (F.when(F.col('prev_approach_job_seniority')=='Missing', None).otherwise(F.col('prev_approach_job_seniority'))), (F.when(F.col('prospect_seniority')=='Missing', None).otherwise(F.col('prospect_seniority'))), (F.when(F.col('declared_seniority')=='Missing', None).otherwise(F.col('declared_seniority')))))\
.withColumn('talent_position', F.coalesce((F.when(F.col('prev_application_job_position')=='Missing', None).otherwise(F.col('prev_application_job_position'))), (F.when(F.col('prev_approach_job_position')=='Missing', None).otherwise(F.col('prev_approach_job_position'))), F.lit('Missing')))\
.withColumn('talent_expected_salary', F.col('max_salary_expected'))\
.withColumn('talent_expected_salary_interval', F.when(F.col('prev_application_job_seniority')=='Missing', F.lit('u) Missing')).otherwise(F.col('expected_salary_interval')))\
.withColumn('talent_hiring_model', F.col('application_hiring_model'))\
.withColumn('talent_location_state', F.col('prospect_location_state'))\
.withColumn('talent_location_city', F.col('prospect_location_city'))\
.withColumn('talent_previous_job_id', F.col('prev_application_job_id'))\
.withColumn('talent_previous_job_id', F.col('prev_application_job_id'))\
.withColumn('match_skill_count', match_skill_count_func(F.col('all_job_skill_names'), F.col('talent_skills')))\
.withColumn('match_skill_count', F.col('match_skill_count').cast(IntegerType()))\
.fillna(value=0, subset=["match_skill_count"])\
.withColumnRenamed('all_prospect_diversity', 'talent_diversities')\
.withColumn('talent_diversity_flag', F.when(F.col('talent_diversities')=='Missing', False).otherwise(True))\
.where((F.col('linkedin_company_user_name').isin(F.col('client_offlimit_linkedin_user_names'))==False)
       & (F.col('job_id') != F.col('prev_application_job_id')) 
       & (F.col('job_id') != F.col('prev_approach_job_id'))
       & ((F.col('job_area') == F.col('talent_area')) | (F.col('talent_area') == 'Missing')))\
.fillna(value="Missing")\
.select(all_features)
cross_join_talents_jobs.count()
       
# .where((F.col('job_status').isin('SETUP', 'FIRST_CICLE', 'SECOND_CICLE')) | (F.col('job_id').isin(2513, 2627)))\

Wall time: 6min 1s

12

In [91]:
# cross_join_talents_jobs.select('job_id', 'linkedin_user_name','prev_application_job_id', 'prev_approach_job_id', 'linkedin_company_user_name', 'client_offlimit_linkedin_user_names').printSchema()

In [92]:
# cross_join_talents_jobs.select('job_id', 'linkedin_user_name','prev_application_job_id', 'prev_approach_job_id', 'linkedin_company_user_name', 'client_offlimit_linkedin_user_names').show(100)

In [93]:
%%time
#Escorar a base, criar o score e o rating
settings = H2OMOJOSettings(convertUnknownCategoricalLevelsToNa = True, convertInvalidNumbersToNa = True)
model = H2OMOJOModel.createFromMojo(PathModelMojo, settings)

sherlock_smart_list = model.transform(cross_join_talents_jobs)
sherlock_smart_list.count()

Wall time: 8min 4s

12

In [94]:
# sherlock_smart_list.printSchema()

In [95]:
%%time
sherlock_smart_list2 = sherlock_smart_list.withColumn('predict', F.col('detailed_prediction.label').cast(IntegerType()))\
.withColumn('probability', F.col('detailed_prediction.probabilities.1'))\
.withColumn('rating', ratings_func((F.col('probability'))))\
.withColumn('suggestion', suggestion_func(F.col('predict')))\
.withColumn('order_area', F.when((F.col('job_area') == F.col('talent_area')), F.lit(0)).otherwise(F.lit(1)))\
.withColumn('order_department', F.when((F.col('job_department') == F.col('talent_department')), F.lit(0)).otherwise(F.lit(1)))\
.withColumn('order_position', F.when((F.col('job_position') == F.col('talent_position')), F.lit(0)).otherwise(F.lit(1)))\
.withColumn('order_salary', F.when(((F.col('talent_expected_salary') >= F.col('min_salary_offered')) & (F.col('talent_expected_salary') <= F.col('max_salary_offered'))), F.lit(0)).otherwise(F.lit(1)))\
.withColumn('talent_expected_salary', F.when(F.col('talent_expected_salary')==-1, F.lit(None)).otherwise(F.col('talent_expected_salary')))\
.drop('detailed_prediction', 'prediction', 'talent_status')
# sherlock_smart_list2.count()

Wall time: 1.13 s

In [96]:
# sherlock_smart_list2.select('order_area', 'job_area', 'talent_area', 'order_department', 'job_department', 'talent_department', 'order_salary', 'talent_expected_salary', 'min_salary_offered', 'max_salary_offered', 'match_skill_count').show(truncate=False)

In [97]:
# instr
# levenshtein
# locate
# sherlock_smart_list2.withColumn("levenshtein", F.levenshtein(F.col("all_job_skill_names"), F.col("all_prospect_smart_skills")))\
# .select('levenshtein', 'all_job_skill_names', 'all_prospect_smart_skills').show(100, truncate=False)

In [98]:
%%time
sherlock_smart_list3 = sherlock_smart_list2.withColumn("talent_rank", F.row_number().over(Window.partitionBy('job_id').orderBy(F.col("order_area").asc(), F.col("predict").desc(), F.col("order_department").asc(), F.col("order_salary").asc(), F.col("match_skill_count").desc(), F.col("order_position").asc(), F.col("probability").desc())))\
.where(F.col('talent_rank')<=20000)

first_cols = ['job_id', 'linkedin_user_name', 'probability', 'rating', 'linkedin', 'pipefy_last_card_id_link', 'talent_area', 'talent_department', 'talent_expected_salary', 'talent_hiring_model', 'talent_location_state', 'talent_seniority', 'talent_skills']
other_cols = sorted([c for c in sherlock_smart_list3.columns if c not in first_cols])
rearanged_cols = first_cols + other_cols
sherlock_smart_list3 = sherlock_smart_list3.select(rearanged_cols)
sherlock_smart_list3.count()

Py4JJavaError: An error occurred while calling o3349.count.
: org.apache.spark.SparkException: Job aborted due to stage failure: Task 8 in stage 239.0 failed 1 times, most recent failure: Lost task 8.0 in stage 239.0 (TID 14313) (DESKTOP-BSGB07T executor driver): org.apache.spark.SparkException: Python worker failed to connect back.
	at org.apache.spark.api.python.PythonWorkerFactory.createSimpleWorker(PythonWorkerFactory.scala:182)
	at org.apache.spark.api.python.PythonWorkerFactory.create(PythonWorkerFactory.scala:107)
	at org.apache.spark.SparkEnv.createPythonWorker(SparkEnv.scala:119)
	at org.apache.spark.api.python.BasePythonRunner.compute(PythonRunner.scala:145)
	at org.apache.spark.sql.execution.python.BatchEvalPythonExec.evaluate(BatchEvalPythonExec.scala:70)
	at org.apache.spark.sql.execution.python.EvalPythonExec.$anonfun$doExecute$2(EvalPythonExec.scala:130)
	at org.apache.spark.rdd.RDD.$anonfun$mapPartitions$2(RDD.scala:863)
	at org.apache.spark.rdd.RDD.$anonfun$mapPartitions$2$adapted(RDD.scala:863)
	at org.apache.spark.rdd.MapPartitionsRDD.compute(MapPartitionsRDD.scala:52)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:373)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:337)
	at org.apache.spark.rdd.MapPartitionsRDD.compute(MapPartitionsRDD.scala:52)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:373)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:337)
	at org.apache.spark.rdd.MapPartitionsRDD.compute(MapPartitionsRDD.scala:52)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:373)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:337)
	at org.apache.spark.shuffle.ShuffleWriteProcessor.write(ShuffleWriteProcessor.scala:59)
	at org.apache.spark.scheduler.ShuffleMapTask.runTask(ShuffleMapTask.scala:99)
	at org.apache.spark.scheduler.ShuffleMapTask.runTask(ShuffleMapTask.scala:52)
	at org.apache.spark.scheduler.Task.run(Task.scala:131)
	at org.apache.spark.executor.Executor$TaskRunner.$anonfun$run$3(Executor.scala:497)
	at org.apache.spark.util.Utils$.tryWithSafeFinally(Utils.scala:1439)
	at org.apache.spark.executor.Executor$TaskRunner.run(Executor.scala:500)
	at java.util.concurrent.ThreadPoolExecutor.runWorker(Unknown Source)
	at java.util.concurrent.ThreadPoolExecutor$Worker.run(Unknown Source)
	at java.lang.Thread.run(Unknown Source)
Caused by: java.net.SocketTimeoutException: Accept timed out
	at java.net.DualStackPlainSocketImpl.waitForNewConnection(Native Method)
	at java.net.DualStackPlainSocketImpl.socketAccept(Unknown Source)
	at java.net.AbstractPlainSocketImpl.accept(Unknown Source)
	at java.net.PlainSocketImpl.accept(Unknown Source)
	at java.net.ServerSocket.implAccept(Unknown Source)
	at java.net.ServerSocket.accept(Unknown Source)
	at org.apache.spark.api.python.PythonWorkerFactory.createSimpleWorker(PythonWorkerFactory.scala:174)
	... 26 more

Driver stacktrace:
	at org.apache.spark.scheduler.DAGScheduler.failJobAndIndependentStages(DAGScheduler.scala:2253)
	at org.apache.spark.scheduler.DAGScheduler.$anonfun$abortStage$2(DAGScheduler.scala:2202)
	at org.apache.spark.scheduler.DAGScheduler.$anonfun$abortStage$2$adapted(DAGScheduler.scala:2201)
	at scala.collection.mutable.ResizableArray.foreach(ResizableArray.scala:62)
	at scala.collection.mutable.ResizableArray.foreach$(ResizableArray.scala:55)
	at scala.collection.mutable.ArrayBuffer.foreach(ArrayBuffer.scala:49)
	at org.apache.spark.scheduler.DAGScheduler.abortStage(DAGScheduler.scala:2201)
	at org.apache.spark.scheduler.DAGScheduler.$anonfun$handleTaskSetFailed$1(DAGScheduler.scala:1078)
	at org.apache.spark.scheduler.DAGScheduler.$anonfun$handleTaskSetFailed$1$adapted(DAGScheduler.scala:1078)
	at scala.Option.foreach(Option.scala:407)
	at org.apache.spark.scheduler.DAGScheduler.handleTaskSetFailed(DAGScheduler.scala:1078)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.doOnReceive(DAGScheduler.scala:2440)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.onReceive(DAGScheduler.scala:2382)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.onReceive(DAGScheduler.scala:2371)
	at org.apache.spark.util.EventLoop$$anon$1.run(EventLoop.scala:49)
	at org.apache.spark.scheduler.DAGScheduler.runJob(DAGScheduler.scala:868)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:2202)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:2223)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:2242)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:2267)
	at org.apache.spark.rdd.RDD.$anonfun$collect$1(RDD.scala:1030)
	at org.apache.spark.rdd.RDDOperationScope$.withScope(RDDOperationScope.scala:151)
	at org.apache.spark.rdd.RDDOperationScope$.withScope(RDDOperationScope.scala:112)
	at org.apache.spark.rdd.RDD.withScope(RDD.scala:414)
	at org.apache.spark.rdd.RDD.collect(RDD.scala:1029)
	at org.apache.spark.sql.execution.SparkPlan.executeCollect(SparkPlan.scala:390)
	at org.apache.spark.sql.Dataset.$anonfun$count$1(Dataset.scala:3006)
	at org.apache.spark.sql.Dataset.$anonfun$count$1$adapted(Dataset.scala:3005)
	at org.apache.spark.sql.Dataset.$anonfun$withAction$1(Dataset.scala:3687)
	at org.apache.spark.sql.execution.SQLExecution$.$anonfun$withNewExecutionId$5(SQLExecution.scala:103)
	at org.apache.spark.sql.execution.SQLExecution$.withSQLConfPropagated(SQLExecution.scala:163)
	at org.apache.spark.sql.execution.SQLExecution$.$anonfun$withNewExecutionId$1(SQLExecution.scala:90)
	at org.apache.spark.sql.SparkSession.withActive(SparkSession.scala:772)
	at org.apache.spark.sql.execution.SQLExecution$.withNewExecutionId(SQLExecution.scala:64)
	at org.apache.spark.sql.Dataset.withAction(Dataset.scala:3685)
	at org.apache.spark.sql.Dataset.count(Dataset.scala:3005)
	at sun.reflect.GeneratedMethodAccessor95.invoke(Unknown Source)
	at sun.reflect.DelegatingMethodAccessorImpl.invoke(Unknown Source)
	at java.lang.reflect.Method.invoke(Unknown Source)
	at py4j.reflection.MethodInvoker.invoke(MethodInvoker.java:244)
	at py4j.reflection.ReflectionEngine.invoke(ReflectionEngine.java:357)
	at py4j.Gateway.invoke(Gateway.java:282)
	at py4j.commands.AbstractCommand.invokeMethod(AbstractCommand.java:132)
	at py4j.commands.CallCommand.execute(CallCommand.java:79)
	at py4j.GatewayConnection.run(GatewayConnection.java:238)
	at java.lang.Thread.run(Unknown Source)
Caused by: org.apache.spark.SparkException: Python worker failed to connect back.
	at org.apache.spark.api.python.PythonWorkerFactory.createSimpleWorker(PythonWorkerFactory.scala:182)
	at org.apache.spark.api.python.PythonWorkerFactory.create(PythonWorkerFactory.scala:107)
	at org.apache.spark.SparkEnv.createPythonWorker(SparkEnv.scala:119)
	at org.apache.spark.api.python.BasePythonRunner.compute(PythonRunner.scala:145)
	at org.apache.spark.sql.execution.python.BatchEvalPythonExec.evaluate(BatchEvalPythonExec.scala:70)
	at org.apache.spark.sql.execution.python.EvalPythonExec.$anonfun$doExecute$2(EvalPythonExec.scala:130)
	at org.apache.spark.rdd.RDD.$anonfun$mapPartitions$2(RDD.scala:863)
	at org.apache.spark.rdd.RDD.$anonfun$mapPartitions$2$adapted(RDD.scala:863)
	at org.apache.spark.rdd.MapPartitionsRDD.compute(MapPartitionsRDD.scala:52)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:373)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:337)
	at org.apache.spark.rdd.MapPartitionsRDD.compute(MapPartitionsRDD.scala:52)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:373)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:337)
	at org.apache.spark.rdd.MapPartitionsRDD.compute(MapPartitionsRDD.scala:52)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:373)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:337)
	at org.apache.spark.shuffle.ShuffleWriteProcessor.write(ShuffleWriteProcessor.scala:59)
	at org.apache.spark.scheduler.ShuffleMapTask.runTask(ShuffleMapTask.scala:99)
	at org.apache.spark.scheduler.ShuffleMapTask.runTask(ShuffleMapTask.scala:52)
	at org.apache.spark.scheduler.Task.run(Task.scala:131)
	at org.apache.spark.executor.Executor$TaskRunner.$anonfun$run$3(Executor.scala:497)
	at org.apache.spark.util.Utils$.tryWithSafeFinally(Utils.scala:1439)
	at org.apache.spark.executor.Executor$TaskRunner.run(Executor.scala:500)
	at java.util.concurrent.ThreadPoolExecutor.runWorker(Unknown Source)
	at java.util.concurrent.ThreadPoolExecutor$Worker.run(Unknown Source)
	... 1 more
Caused by: java.net.SocketTimeoutException: Accept timed out
	at java.net.DualStackPlainSocketImpl.waitForNewConnection(Native Method)
	at java.net.DualStackPlainSocketImpl.socketAccept(Unknown Source)
	at java.net.AbstractPlainSocketImpl.accept(Unknown Source)
	at java.net.PlainSocketImpl.accept(Unknown Source)
	at java.net.ServerSocket.implAccept(Unknown Source)
	at java.net.ServerSocket.accept(Unknown Source)
	at org.apache.spark.api.python.PythonWorkerFactory.createSimpleWorker(PythonWorkerFactory.scala:174)
	... 26 more

In [52]:
%%time
#Salvar no Lakehouse no format parquet
# sherlock_smart_list3.write.mode("overwrite").format("parquet").partitionBy('suggestion').save("s3://prod-lakehouse-mirror/sherlock_smart_list")

sherlock_smart_list3.select('job_id', 'linkedin_user_name', 'probability', 'rating', 'talent_rank', 'suggestion', 'prospect_area_migration', 'talent_info_source', 'talent_department', 'talent_area', 'talent_previous_job_id', 'talent_skills'
,'talent_expected_salary'
,'talent_expected_salary_interval'
,'talent_hiring_model'
,'talent_location_state'
,'talent_seniority'
,'match_skill_count'
,'linkedin'
,'pipefy_last_card_id_link')\
.toPandas().to_csv('sherlock_smart_list3.csv', index=False)

Wall time: 2min 57s

In [ ]:
# ,'talent_previous_job_id'
# ,'talent_area'
# ,'talent_department'
# ,'talent_skills'
# ,'talent_expected_salary'
# ,'talent_expected_salary_interval'
# ,'talent_hiring_model'
# ,'talent_location_state'
# ,'talent_seniority'
# ,'match_skill_count'
# ,'linkedin'
# ,'pipefy_last_card_id_link'

## Compare local with AWS Glue

In [53]:
%%time
query = f"""
select *
from "prod-lakehouse-mirror".sherlock_smart_list"""
sherlock_smart_list_local = wr.athena.read_sql_query(query, database="prod-lakehouse-mirror", boto3_session=my_boto3_session, s3_output='s3://query-temp-result')
sherlock_smart_list_local.count()

Wall time: 15.5 s

job_id                             340000
linkedin_user_name                 340000
probability                        340000
rating                             340000
linkedin                           340000
match_skill_count                  340000
pipefy_last_card_id_link           340000
prospect_area_migration            340000
talent_area                        340000
talent_department                  340000
talent_expected_salary             340000
talent_expected_salary_interval    340000
talent_hiring_model                340000
talent_info_source                 340000
talent_location_state              340000
talent_previous_job_id              65597
talent_rank                        340000
talent_seniority                   340000
talent_skills                      340000
suggestion                         340000
dtype: int64

In [54]:
%%time
query = f"""
select *
from "dev-lakehouse-mirror".sherlock_smart_list"""
sherlock_smart_list_aws = wr.athena.read_sql_query(query, database="dev-lakehouse-mirror", boto3_session=my_boto3_session, s3_output='s3://query-temp-result')
sherlock_smart_list_aws.count()

Wall time: 21.4 s

job_id                     300000
linkedin_user_name         300000
probability                300000
rating                     300000
linkedin                   300000
                            ...
talent_previous_job_id     169774
talent_rank                300000
talent_status              300000
total_experience_months    300000
suggestion                 300000
Length: 79, dtype: int64

In [55]:
import datacompy
#comparacao das duas bases
compare = datacompy.Compare(
    sherlock_smart_list_local.astype(str),
    sherlock_smart_list_aws.astype(str),
    join_columns=['job_id', 'linkedin_user_name'],  #You can also specify a list of columns
    abs_tol=0, #Optional, defaults to 0
    rel_tol=0, #Optional, defaults to 0
    df1_name='local', #Optional, defaults to 'df1'
    df2_name='aws' #Optional, defaults to 'df2'
    )
compare.matches(ignore_extra_columns=False)
# False

# This method prints out a human-readable report summarizing and sampling differences
print(compare.report())

only_df1=compare.df1_unq_rows
only_df2=compare.df2_unq_rows

# only_rest.groupby('hour').count().plot()
# only_wss.groupby('hour').count().plot()

# only_rest_desc=only_rest.describe()
# trade_socket_desc=only_wss.describe()

DataComPy Comparison
--------------------

DataFrame Summary
-----------------

  DataFrame  Columns    Rows
0     local       20  340000
1       aws       79  300000

Column Summary
--------------

Number of columns in common: 20
Number of columns in local but not in aws: 0
Number of columns in aws but not in local: 59

Row Summary
-----------

Matched on: job_id, linkedin_user_name
Any duplicates on match values: No
Absolute Tolerance: 0
Relative Tolerance: 0
Number of rows in common: 44,053
Number of rows in local but not in aws: 295,947
Number of rows in aws but not in local: 255,947

Number of rows with some compared columns unequal: 44,053
Number of rows with all compared columns equal: 0

Column Comparison
-----------------

Number of columns compared with some values unequal: 5
Number of columns compared with all values equal: 15
Total number of values which compare unequal: 110,388

Columns with Unequal Values or Types
------------------------------------

          Column local dtype aws dtype  # Unequal      Max Diff  # Null Diff
3    probability      object    object      28150      0.219896            0
2         rating      object    object       3893      5.000000            0
4     suggestion      object    object        456      0.000000            0
1    talent_rank      object    object      44053  19596.000000            0
0  talent_skills      object    object      33836      0.000000            0

Sample Rows with Unequal Values
-------------------------------

       job_id            linkedin_user_name                                                                             talent_skills (local)                                                                               talent_skills (aws)
61795    2671               wesleysilva-dev                           css,docker,git,html,jquery,laravel,linux-,mysql,php,redis,sql,wordpress                           git,redis,sql,jquery,wordpress,html,laravel,linux-,mysql,php,css,docker
167902   2645                   rafaelruwer                                              android,c,git,iot,macos,mvc,mvvm,rxswift,scrum,swift                                              git,iot,android,macos,mvc,rxswift,c,mvvm,swift,scrum
147808   2578       celiara-regina-58bb60b4                               access,business-intelligence,cognos,etl,excel,linux-,oracle,sql,vba                               oracle,business-intelligence,vba,sql,excel,etl,cognos,linux-,access
321937   2222            cassio-de-medeiros                                                                   business-intelligence,logistics                                                                   logistics,business-intelligence
29518    2671  luis-nunes-martins-39aabb103                                                                                  c,postgresql,wpf                                                                                  c,wpf,postgresql
180572   2222                  vn-rodrigues         apache,apache-spark,aws,cloud,data-analysis,etl,python,ruby,ruby-on-rails,scala,spark,sql         spark,apache-spark,cloud,python,scala,aws,sql,apache,data-analysis,ruby,ruby-on-rails,etl
110753   2666       melina-bravim-36609a104                                                                                     angular,vuejs                                                                                     vuejs,angular
249715   2222                 claudiomoreno  aws,aws-glue,cognos,data-analyst,dynamodb,etl,oracle,oracle-pl-sql,perl,procurement,security,sql  perl,oracle-pl-sql,sql,security,aws,aws-glue,dynamodb,etl,cognos,data-analyst,oracle,procurement
44339    2675        jeremias-lima-15039897                                                                         react,react-native,sketch                                                                         sketch,react,react-native
138475   2578     henrique-pizarro-a9945641                                                                                         r,sas,sql                                                                                         sas,sql,r

       job_id                  linkedin_user_name talent_rank (local) talent_rank (aws)
259349   2345                     camila-barbieri                 275             12162
13217    2449                    carlosaugustovaz                 930              7791
9957     2222                     joaquinmenendez                2610             10048
314941   2546                    bruno-brancalhão                1500             10527
29384    2671              valter-godoy-33aa41125                1212             13159
138402   2578                        amonteirodba                 812              3590
17114    2669  guilherme-guisso-da-silva-50349392                 817             18245
10107    2222                juliana-vaz-31881723                2760             11526
115534   2454                            jpmicena                4632             18192
15128    2214                   alextrindadecosta                 826              7277

       job_id         linkedin_user_name rating (local) rating (aws)
260632   2578    carla-casaroti-7120ba36              8            9
210030   2345  evandro-oliveira-87210a51              3            5
300170   2222              iago-ferranti              4            2
252879   2671       kleber-melo-8b139b35              3            2
336526   2578                 alex-souza              4            5
13069    2449      filipe-cruz-developer              8            9
168726   2214                alinedonato              1            2
183415   2671      caio-maselli-76b53199              3            4
72730    2578             dandaramcsousa              3            4
14368    2214            lorrane-meneses              6            7

       job_id              linkedin_user_name   probability (local)    probability (aws)
12347    2449          gabriel-simon-gianotti    0.3871541053945665   0.3885057263452813
138396   2578  carlos-filipe-almeida-a721692b   0.04406319351584734  0.04356173882351397
259253   2345                    tecnoricardo   0.17592371525781747  0.25157175293904127
250944   2454  guilherme-florentino-94906b146   0.06866240216173321  0.06704591843734696
117323   2671      jonathan-matheus-a53844148   0.04532158406468462  0.07084938681500269
259390   2345           carlos-alberto-gaspar    0.3764698469675097  0.49092975190064375
12852    2449                     rafaelgripp   0.21724708623938446  0.21574460920364802
167997   2645        marcos-contente-26857520  0.015794941242845355  0.01569411640727131
226512   2214           marco-telles-55b1a031    0.1312513892672822  0.13823925195106232
169784   2449                     beatriz1996   0.13110326699750993   0.1289490162096039

       job_id                linkedin_user_name suggestion (local) suggestion (aws)
209927   2345                   brunocascaolima           Repensar          Abordar
15456    2449  evelyn-fernandes-rocha-851639157           Repensar          Abordar
9749     2222                          marttosc            Abordar         Repensar
61625    2671       lincoln-bergstron-920201157           Repensar          Abordar
113953   2222               antoniojuniorvabreu           Repensar          Abordar
28731    2651                      luizvbemidio           Repensar          Abordar
114034   2222                      brunacallais           Repensar          Abordar
209920   2345               guilherme-steixeira           Repensar          Abordar
182091   2651                         georgewcf           Repensar          Abordar
168429   2645        guilherme-israel-8aa357134           Repensar          Abordar

Sample Rows Only in local (First 10 Columns)
--------------------------------------------

       job_id                               linkedin_user_name           probability rating                                                                     linkedin match_skill_count                     pipefy_last_card_id_link     prospect_area_migration  talent_area talent_department
142694   2222                            victorfernandesmatias   0.08723497300493831      4                            https://www.linkedin.com/in/victorfernandesmatias                 0  https://app.pipefy.com/open-cards/440987557         Engineering-to-Data  Engineering          Back-end
218975   2675                                    renatasalvino   0.06379660758597314      3                                    https://www.linkedin.com/in/renatasalvino                 0  https://app.pipefy.com/open-cards/501168123              Infra-to-Agile        Infra      Devops / SRE
207975   2665                               ygor-sad-229748117   0.08682825928544886      4                               https://www.linkedin.com/in/ygor-sad-229748117                 0                                      Missing      Engineering-to-Product  Engineering          Back-end
177085   2578                                       ramomfilho  0.036997688320386926      1                                       https://www.linkedin.com/in/ramomfilho                 1                                      Missing         Engineering-to-Data  Engineering          Back-end
284632   2651                          henrique-lati-3095b4167  0.019920287610475918      1                          https://www.linkedin.com/in/henrique-lati-3095b4167                 0                                      Missing  Engineering-to-Engineering  Engineering          Back-end
146243   2303  fernando-matheus-comandolli-fürbringer-b8059650   0.12236136801470668      5  https://www.linkedin.com/in/fernando-matheus-comandolli-fürbringer-b8059650                 0                                      Missing    Engineering-to-Segurança  Engineering          Back-end
123481   2214         guilherme-barbosa-alves-de-lara-7a3070b9   0.02957519965697934      1         https://www.linkedin.com/in/guilherme-barbosa-alves-de-lara-7a3070b9                 0                                      Missing  Engineering-to-Engineering  Engineering          Back-end
156586   2546                          paulo-gabriel-704162125   0.09261252639825017      5                          https://www.linkedin.com/in/paulo-gabriel-704162125                 1                                      Missing  Engineering-to-Arquitetura  Engineering          Back-end
67528    2222                                       yansilva89   0.10206154943891027      5                                       https://www.linkedin.com/in/yansilva89                 0                                      Missing         Engineering-to-Data  Engineering         Front-end
135429   2651                                       guidocunha   0.04411539807933522      2                                       https://www.linkedin.com/in/guidocunha                 0                                      Missing  Engineering-to-Engineering  Engineering        Full-stack

Sample Rows Only in aws (First 10 Columns)
------------------------------------------

       job_id             linkedin_user_name          probability rating                                                   linkedin                     pipefy_last_card_id_link  talent_area      talent_department talent_expected_salary talent_hiring_model
454245   2669                    jairo-olima   0.5294392004573006     10                    https://www.linkedin.com/in/jairo-olima  https://app.pipefy.com/open-cards/555562572        Infra                    SAP                 3000.0                 CLT
441609   2578          fábio-mourão-31b17147   0.4357603953917737     10          https://www.linkedin.com/in/fábio-mourão-31b17147  https://app.pipefy.com/open-cards/545737829         Data         BI / Analytics                 2000.0                 CLT
387451   2666    saulo-silva-filho-88241220a   0.1260847998707569      6    https://www.linkedin.com/in/saulo-silva-filho-88241220a  https://app.pipefy.com/open-cards/407313692  Engineering             Full-stack                 4500.0             Missing
500419   2651                         renant  0.24440616932790615      9                         https://www.linkedin.com/in/renant  https://app.pipefy.com/open-cards/531655921  Engineering               Back-end                 7000.0                 CLT
526496   2214                    rafaelmaeda   0.2797719256920808     10                    https://www.linkedin.com/in/rafaelmaeda  https://app.pipefy.com/open-cards/542308556  Engineering               Back-end                 4500.0                 CLT
524812   2578      marciel-barbosa-289686221  0.13129047371705882      6      https://www.linkedin.com/in/marciel-barbosa-289686221  https://app.pipefy.com/open-cards/448690145         Data         BI / Analytics                 2000.0             Missing
507309   2669         kátia-santana-2b553951  0.26054325842715326      9         https://www.linkedin.com/in/kátia-santana-2b553951  https://app.pipefy.com/open-cards/479704590        Infra  Sustentação / Suporte                 2500.0                 CLT
544074   2651          andrea-simoes-herdade   0.6293246926481321     10          https://www.linkedin.com/in/andrea-simoes-herdade  https://app.pipefy.com/open-cards/563106370  Engineering                     QA                10500.0                 CLT
525076   2303           luiz-bento-5a8b8815b   0.5226805780944366     10           https://www.linkedin.com/in/luiz-bento-5a8b8815b                                      Missing      Missing                Missing                   -1.0             Missing
531440   2675  josé-leandro-santos-117858222   0.4209077904867035     10  https://www.linkedin.com/in/josé-leandro-santos-117858222  https://app.pipefy.com/open-cards/494060424        Infra  Sustentação / Suporte                 2500.0                 CLT

## Comparação unitária

In [66]:
user_local

,job_id,linkedin_user_name,probability,rating,linkedin,pipefy_last_card_id_link,talent_area,talent_department,talent_expected_salary,talent_hiring_model,...,prospect_seniority_migration,prospect_smart_skills_qty,reason_disapproval,suggestion,talent_expected_salary_interval,talent_info_source,talent_previous_job_id,talent_rank,talent_status,total_experience_months
0,2546,tecnoricardo,0.165803,7,https://www.linkedin.com/in/tecnoricardo,Missing,Segurança,Cyber Security,-1.0,Missing,...,Missing-to-Senior,8,Missing,Repensar,u) Missing,prospects,NaN,11896,AVAILABLE,139
1,2665,tecnoricardo,0.168251,7,https://www.linkedin.com/in/tecnoricardo,Missing,Segurança,Cyber Security,-1.0,Missing,...,Missing-to-Mid-level,8,Missing,Repensar,u) Missing,prospects,NaN,3745,AVAILABLE,139
2,2222,tecnoricardo,0.204754,8,https://www.linkedin.com/in/tecnoricardo,Missing,Segurança,Cyber Security,-1.0,Missing,...,Missing-to-Senior,8,Missing,Abordar,u) Missing,prospects,NaN,7345,AVAILABLE,139
3,2669,tecnoricardo,0.159602,7,https://www.linkedin.com/in/tecnoricardo,Missing,Segurança,Cyber Security,-1.0,Missing,...,Missing-to-Specialist,8,Missing,Repensar,u) Missing,prospects,NaN,16170,AVAILABLE,139
4,2578,tecnoricardo,0.168739,7,https://www.linkedin.com/in/tecnoricardo,Missing,Segurança,Cyber Security,-1.0,Missing,...,Missing-to-Senior,8,Missing,Repensar,u) Missing,prospects,NaN,11650,AVAILABLE,139
5,2303,tecnoricardo,0.264069,9,https://www.linkedin.com/in/tecnoricardo,Missing,Segurança,Cyber Security,-1.0,Missing,...,Missing-to-Mid-level,8,Missing,Abordar,u) Missing,prospects,NaN,26,AVAILABLE,139
6,2689,tecnoricardo,0.242701,9,https://www.linkedin.com/in/tecnoricardo,Missing,Segurança,Cyber Security,-1.0,Missing,...,Missing-to-Senior,8,Missing,Abordar,u) Missing,prospects,NaN,1975,AVAILABLE,139
7,2454,tecnoricardo,0.178884,8,https://www.linkedin.com/in/tecnoricardo,Missing,Segurança,Cyber Security,-1.0,Missing,...,Missing-to-Senior,8,Missing,Abordar,u) Missing,prospects,NaN,7084,AVAILABLE,139
8,2645,tecnoricardo,0.124659,6,https://www.linkedin.com/in/tecnoricardo,Missing,Segurança,Cyber Security,-1.0,Missing,...,Missing-to-Senior,8,Missing,Repensar,u) Missing,prospects,NaN,7622,AVAILABLE,139
9,2345,tecnoricardo,0.175924,8,https://www.linkedin.com/in/tecnoricardo,Missing,Segurança,Cyber Security,-1.0,Missing,...,Missing-to-Senior,8,Missing,Abordar,u) Missing,prospects,NaN,17,AVAILABLE,139
10,2675,tecnoricardo,0.145911,7,https://www.linkedin.com/in/tecnoricardo,Missing,Segurança,Cyber Security,-1.0,Missing,...,Missing-to-Senior,8,Missing,Repensar,u) Missing,prospects,NaN,2786,AVAILABLE,139

In [67]:
user_aws

,job_id,linkedin_user_name,probability,rating,linkedin,pipefy_last_card_id_link,talent_area,talent_department,talent_expected_salary,talent_hiring_model,...,prospect_seniority_migration,prospect_smart_skills_qty,reason_disapproval,talent_expected_salary_interval,talent_info_source,talent_previous_job_id,talent_rank,talent_status,total_experience_months,suggestion
0,2303,tecnoricardo,0.360057,10,https://www.linkedin.com/in/tecnoricardo,Missing,Segurança,Cyber Security,-1.0,Missing,...,Missing-to-Mid-level,8,Missing,u) Missing,prospects,<NA>,2067,AVAILABLE,139,Abordar
1,2345,tecnoricardo,0.251572,9,https://www.linkedin.com/in/tecnoricardo,Missing,Segurança,Cyber Security,-1.0,Missing,...,Missing-to-Senior,8,Missing,u) Missing,prospects,<NA>,442,AVAILABLE,139,Abordar

In [76]:
user_aws[selected_features].to_dict(orient='index')

{0: {'application_current_phase_active': 'Missing',
  'application_hiring_model': 'Missing',
  'expected_salary_interval': 'Missing',
  'reason_disapproval': 'Missing',
  'application_status': 'Missing',
  'prev_application_job_area': 'Missing',
  'prev_application_job_department': 'Missing',
  'last_company_classification': 'Software House C',
  'job_area': 'Segurança',
  'prev_approach_job_area': 'Missing',
  'prev_approach_status': 'Missing',
  'company_classification_migration': 'Software House C-to-Empresa Tradicional B',
  'talent_info_source': 'prospects',
  'prev_approach_job_area_to_job_area': 'Missing-to-Segurança',
  'prev_application_job_area_to_job_area': 'Missing-to-Segurança',
  'prev_approach_company_classification_migration': 'Missing-to-Empresa Tradicional B',
  'prev_application_company_classification_migration': 'Missing-to-Empresa Tradicional B',
  'prev_approach_job_seniority_to_job_seniority': 'Missing-to-Mid-level',
  'prev_application_job_seniority_to_job_seniority': 'Missing-to-Mid-level',
  'prev_approach_job_position_to_job_position': 'Missing-to-Missing',
  'prev_application_job_position_to_job_position': 'Missing-to-Missing',
  'prev_application_job_hiring_type_to_job_hiring_type': 'Missing-to-Missing',
  'prospect_seniority_migration': 'Missing-to-Mid-level',
  'declared_seniority_migration': 'Missing-to-Mid-level',
  'prospect_location_state': 'Ceará',
  'prospect_location_region': 'Ceará',
  'prospect_area_migration': 'Segurança-to-Segurança',
  'previous_applications_qty': 0,
  'days_since_last_application': 999,
  'prospect_smart_skills_qty': 8,
  'prospect_experiences_qty': 5,
  'prospect_companies_qty': 5,
  'total_experience_months': 139,
  'experience_duration_months_min': 5,
  'experience_duration_months_clean_avg': 28.0,
  'last_experience_duration_months': 27,
  'max_salary_offered': 9000.0,
  'previous_approaches_qty': 0,
  'max_salary_expected_to_prev_approach': 11390.0,
  'max_salary_expected_to_prev_application': 11902.33984375,
  'last_experience_descriptions_word_count': 32,
  'all_company_classifications_word_count': 7,
  'all_company_classifications_count': 1,
  'all_prospect_smart_skills_word_count': 8,
  'all_job_question_correct_answers_word_count': 55,
  'all_job_skill_names_word_count': 1,
  'import_policy_word_count': 14,
  'job_validation_questions_word_count': 179},
 1: {'application_current_phase_active': 'Missing',
  'application_hiring_model': 'Missing',
  'expected_salary_interval': 'Missing',
  'reason_disapproval': 'Missing',
  'application_status': 'Missing',
  'prev_application_job_area': 'Missing',
  'prev_application_job_department': 'Missing',
  'last_company_classification': 'Software House C',
  'job_area': 'Segurança',
  'prev_approach_job_area': 'Missing',
  'prev_approach_status': 'Missing',
  'company_classification_migration': 'Software House C-to-Empresa Tradicional B',
  'talent_info_source': 'prospects',
  'prev_approach_job_area_to_job_area': 'Missing-to-Segurança',
  'prev_application_job_area_to_job_area': 'Missing-to-Segurança',
  'prev_approach_company_classification_migration': 'Missing-to-Empresa Tradicional B',
  'prev_application_company_classification_migration': 'Missing-to-Empresa Tradicional B',
  'prev_approach_job_seniority_to_job_seniority': 'Missing-to-Senior',
  'prev_application_job_seniority_to_job_seniority': 'Missing-to-Senior',
  'prev_approach_job_position_to_job_position': 'Missing-to-Missing',
  'prev_application_job_position_to_job_position': 'Missing-to-Missing',
  'prev_application_job_hiring_type_to_job_hiring_type': 'Missing-to-Missing',
  'prospect_seniority_migration': 'Missing-to-Senior',
  'declared_seniority_migration': 'Missing-to-Senior',
  'prospect_location_state': 'Ceará',
  'prospect_location_region': 'Ceará',
  'prospect_area_migration': 'Segurança-to-Segurança',
  'previous_applications_qty': 0,
  'days_since_last_application': 999,
  'prospect_smart_skills_qty': 8,
  'prospect_experiences_qty': 5,
  'prospect_companies_qty': 5,
  'total_experience_months': 139,
  'experience_duration_months_min': 5,
  'experience_duration_months_clean_avg': 28.0,
  'last_experience_duration_months': 27,
  'max_salary_offered': 11000.0,
  'previous_approaches_qty': 0,
  'max_salary_expected_to_prev_approach': 11390.0,
  'max_salary_expected_to_prev_application': 11902.33984375,
  'last_experience_descriptions_word_count': 32,
  'all_company_classifications_word_count': 7,
  'all_company_classifications_count': 1,
  'all_prospect_smart_skills_word_count': 8,
  'all_job_question_correct_answers_word_count': 17,
  'all_job_skill_names_word_count': 1,
  'import_policy_word_count': 1,
  'job_validation_questions_word_count': 211}}

In [9]:
data = {0: {'application_current_phase_active': 'Missing',
  'application_hiring_model': 'Missing',
  'expected_salary_interval': 'Missing',
  'reason_disapproval': 'Missing',
  'application_status': 'Missing',
  'prev_application_job_area': 'Missing',
  'prev_application_job_department': 'Missing',
  'last_company_classification': 'Software House C',
  'job_area': 'Segurança',
  'prev_approach_job_area': 'Missing',
  'prev_approach_status': 'Missing',
  'company_classification_migration': 'Software House C-to-Empresa Tradicional B',
  'talent_info_source': 'prospects',
  'prev_approach_job_area_to_job_area': 'Missing-to-Segurança',
  'prev_application_job_area_to_job_area': 'Missing-to-Segurança',
  'prev_approach_company_classification_migration': 'Missing-to-Empresa Tradicional B',
  'prev_application_company_classification_migration': 'Missing-to-Empresa Tradicional B',
  'prev_approach_job_seniority_to_job_seniority': 'Missing-to-Mid-level',
  'prev_application_job_seniority_to_job_seniority': 'Missing-to-Mid-level',
  'prev_approach_job_position_to_job_position': 'Missing-to-Missing',
  'prev_application_job_position_to_job_position': 'Missing-to-Missing',
  'prev_application_job_hiring_type_to_job_hiring_type': 'Missing-to-Missing',
  'prospect_seniority_migration': 'Missing-to-Mid-level',
  'declared_seniority_migration': 'Missing-to-Mid-level',
  'prospect_location_state': 'Ceará',
  'prospect_location_region': 'Ceará',
  'prospect_area_migration': 'Segurança-to-Segurança',
  'previous_applications_qty': 0,
  'days_since_last_application': 999,
  'prospect_smart_skills_qty': 8,
  'prospect_experiences_qty': 5,
  'prospect_companies_qty': 5,
  'total_experience_months': 139,
  'experience_duration_months_min': 5,
  'experience_duration_months_clean_avg': 28.0,
  'last_experience_duration_months': 27,
  'max_salary_offered': 9000.0,
  'previous_approaches_qty': 0,
  'max_salary_offered_to_prev_approach': 11390.0,
  'max_salary_offered_to_prev_application': 11902.33984375,
  'last_experience_descriptions_word_count': 32,
  'all_company_classifications_word_count': 7,
  'all_company_classifications_count': 1,
  'all_prospect_smart_skills_word_count': 8,
  'all_job_question_correct_answers_word_count': 55,
  'all_job_skill_names_word_count': 1,
  'import_policy_word_count': 14,
  'job_validation_questions_word_count': 179},
 1: {'application_current_phase_active': 'Missing',
  'application_hiring_model': 'Missing',
  'expected_salary_interval': 'Missing',
  'reason_disapproval': 'Missing',
  'application_status': 'Missing',
  'prev_application_job_area': 'Missing',
  'prev_application_job_department': 'Missing',
  'last_company_classification': 'Software House C',
  'job_area': 'Segurança',
  'prev_approach_job_area': 'Missing',
  'prev_approach_status': 'Missing',
  'company_classification_migration': 'Software House C-to-Empresa Tradicional B',
  'talent_info_source': 'prospects',
  'prev_approach_job_area_to_job_area': 'Missing-to-Segurança',
  'prev_application_job_area_to_job_area': 'Missing-to-Segurança',
  'prev_approach_company_classification_migration': 'Missing-to-Empresa Tradicional B',
  'prev_application_company_classification_migration': 'Missing-to-Empresa Tradicional B',
  'prev_approach_job_seniority_to_job_seniority': 'Missing-to-Senior',
  'prev_application_job_seniority_to_job_seniority': 'Missing-to-Senior',
  'prev_approach_job_position_to_job_position': 'Missing-to-Missing',
  'prev_application_job_position_to_job_position': 'Missing-to-Missing',
  'prev_application_job_hiring_type_to_job_hiring_type': 'Missing-to-Missing',
  'prospect_seniority_migration': 'Missing-to-Senior',
  'declared_seniority_migration': 'Missing-to-Senior',
  'prospect_location_state': 'Ceará',
  'prospect_location_region': 'Ceará',
  'prospect_area_migration': 'Segurança-to-Segurança',
  'previous_applications_qty': 0,
  'days_since_last_application': 999,
  'prospect_smart_skills_qty': 8,
  'prospect_experiences_qty': 5,
  'prospect_companies_qty': 5,
  'total_experience_months': 139,
  'experience_duration_months_min': 5,
  'experience_duration_months_clean_avg': 28.0,
  'last_experience_duration_months': 27,
  'max_salary_offered': 11000.0,
  'previous_approaches_qty': 0,
  'max_salary_offered_to_prev_approach': 11390.0,
  'max_salary_offered_to_prev_application': 11902.33984375,
  'last_experience_descriptions_word_count': 32,
  'all_company_classifications_word_count': 7,
  'all_company_classifications_count': 1,
  'all_prospect_smart_skills_word_count': 8,
  'all_job_question_correct_answers_word_count': 17,
  'all_job_skill_names_word_count': 1,
  'import_policy_word_count': 1,
  'job_validation_questions_word_count': 211}}

sdf = (spark.createDataFrame(pd.DataFrame.from_dict(data, orient='index')))

## Escorar a base, criar o score e o rating
settings = H2OMOJOSettings(convertUnknownCategoricalLevelsToNa = True, convertInvalidNumbersToNa = True)
model = H2OMOJOModel.createFromMojo(PathModelMojo, settings)
sherlock_smart_list = model.transform(sdf)

# sherlock_smart_list.printSchema()
sherlock_smart_list.select('job_validation_questions_word_count', 'detailed_prediction', 'prediction').show(truncate=False)

+-----------------------------------+---------------------------------------------+----------+
|job_validation_questions_word_count|detailed_prediction                          |prediction|
+-----------------------------------+---------------------------------------------+----------+
|179                                |{1, {0.7359305587780276, 0.2640694412219724}}|1         |
|211                                |{1, {0.8240762848073997, 0.1759237151926003}}|1         |
+-----------------------------------+---------------------------------------------+----------+

In [13]:
!pip freeze

adjustText==0.7.3
alabaster==0.7.12
appdirs==1.4.4
argon2-cffi==20.1.0
asn1crypto==1.4.0
astroid==2.4.2
atomicwrites==1.4.0
attrs==20.3.0
autobahn==20.7.1
Automat==20.2.0
autopep8==1.5.4
awswrangler==2.8.0
Babel==2.8.0
backcall==0.2.0
bcrypt==3.2.0
beautifulsoup4==4.9.1
bioinfokit==2.0.8
bleach==3.1.5
boto==2.49.0
boto3==1.21.29
botocore==1.24.29
Bottleneck==1.3.4
bs4==0.0.1
certifi==2020.6.20
cffi==1.14.2
chardet==3.0.4
click==8.1.2
click-plugins==1.1.1
cligj==0.7.2
cloudpickle==1.5.0
cmdstanpy==0.9.68
colorama==0.4.3
confuse==1.3.0
constantly==15.1.0
convertdate==2.4.0
cryptography==3.0
cycler==0.10.0
Cython==0.29.21
datacompy==0.7.1
dateparser==0.7.6
decorator==4.4.2
defusedxml==0.6.0
descartes==1.1.0
diff-match-patch==20200713
dill==0.3.4
docopt==0.6.2
docutils==0.16
entrypoints==0.3
ephem==4.1.3
et-xmlfile==1.1.0
findspark==2.0.1
Fiona @ file:///C:/Users/maxde/pipwin/Fiona-1.8.21-cp37-cp37m-win_amd64.whl
flake8==2.3.0
future==0.18.2
GDAL @ file:///C:/Users/maxde/pipwin/GDAL-3.4.2-cp37-cp37m-win_amd64.whl
geojson==2.5.0
geopandas @ file:///C:/Users/maxde/pipwin/geopandas-0.6.2-py2.py3-none-any.whl
google-pasta==0.2.0
graphviz==0.14.1
greenlet==1.0.0
h2o==3.36.1.2
h2o-pysparkling-3.1==3.36.1.3.post1
h2o-pysparkling-3.3==3.36.1.3.post1
HeapDict==1.0.1
helpdev==0.7.1
hijri-converter==2.2.3
holidays==0.13
htmlmin==0.1.12
hummingbird-ml==0.4.3
hyperlink==20.0.1
idna==2.10
ImageHash==4.1.0
imagesize==1.2.0
importlib-metadata==1.7.0
incremental==17.5.0
intervaltree==3.1.0
ipykernel==5.3.4
ipython==7.17.0
ipython-genutils==0.2.0
ipywidgets==7.5.1
isort==5.4.2
jedi==0.15.2
Jinja2==2.11.2
jmespath==0.10.0
joblib==0.16.0
Js2Py==0.71
json5==0.9.5
jsonschema==3.2.0
jupyter==1.0.0
jupyter-client==6.1.6
jupyter-console==6.1.0
jupyter-core==4.6.3
jupyterlab==2.2.5
jupyterlab-server==1.2.0
keyring==21.3.0
kiwisolver==1.2.0
korean-lunar-calendar==0.2.1
lab==6.0
lazy-object-proxy==1.4.3
lightgbm==3.3.2
llvmlite==0.34.0
locket==0.2.1
LunarCalendar==0.0.9
lxml==4.6.3
MarkupSafe==1.1.1
matplotlib==3.2.1
matplotlib-venn==0.11.6
mccabe==0.6.1
missingno==0.4.2
mistune==0.8.4
mpmath==1.1.0
multiprocess==0.70.12.2
munch==2.5.0
mysql==0.0.2
mysql-connector-python-rf==2.2.2
mysqlclient==2.0.3
nbconvert==5.6.1
nbformat==5.0.7
networkx==2.5
notebook==6.1.3
numba==0.51.2
numpy==1.19.1
numpydoc==1.1.0
onnx==1.11.0
onnxconverter-common==1.9.0
openpyxl==3.0.7
packaging==21.3
pandas==1.2.3
pandas-datareader==0.9.0
pandas-lite==0.1.1
pandas-profiling @ https://github.com/pandas-profiling/pandas-profiling/archive/master.zip
pandas-ta==0.2.23b0
pandocfilters==1.4.2
paramiko==2.7.1
parso==0.5.2
partd==1.1.0
pathos==0.2.8
pathtools==0.1.2
patsy==0.5.1
pep8==1.7.1
pexpect==4.8.0
pg8000==1.19.5
phik==0.10.0
pickleshare==0.7.5
Pillow==7.2.0
pipdate==0.5.2
pipwin==0.5.2
plotly==4.14.3
pluggy==0.13.1
pox==0.3.0
ppft==1.6.6.4
prometheus-client==0.8.0
prompt-toolkit==3.0.6
protobuf==3.19.4
protobuf3-to-dict==0.1.5
psutil==5.7.2
psycopg2==2.8.6
ptyprocess==0.6.0
py-instagram-dl==1.5
py4j==0.10.9
pyarrow==4.0.1
pyasn1==0.4.8

WARNING: Ignoring invalid distribution -2o (c:\program files\python37\lib\site-packages)
WARNING: Ignoring invalid distribution -ffi (c:\program files\python37\lib\site-packages)
WARNING: Ignoring invalid distribution -atplotlib (c:\program files\python37\lib\site-packages)

pyasn1-modules==0.2.8
pyathena==2.3.0
pycodestyle==2.6.0
pycparser==2.20
pydocstyle==5.0.2
pyflakes==2.1.1
Pygments==2.6.1
PyHamcrest==2.0.2
pyjsparser==2.7.1
pylint==2.6.0
pyls==0.1.5
PyMeeus==0.5.11
PyMySQL==1.0.2
PyNaCl==1.4.0
pyOpenSSL==19.1.0
pyparsing==2.4.7
PyPrind==2.11.3
pyproj @ file:///C:/Users/maxde/pipwin/pyproj-3.2.1-cp37-cp37m-win_amd64.whl
PyQt5==5.12.3
PyQt5-sip==12.8.0
PyQtWebEngine==5.12.1
pyrsistent==0.16.0
pySmartDL==1.3.4
pyspark==3.1.1
pystan==2.19.1.1
python-binance==0.7.5
python-dateutil==2.8.1
python-jsonrpc-server==0.3.4
python-language-server==0.31.10
pytz==2020.1
PyWavelets==1.1.1
pywin32==228
pywin32-ctypes==0.2.0
pywinpty==0.5.7
PyYAML==5.3.1
pyzmq==19.0.2
QDarkStyle==2.8.1
QtAwesome==0.7.2
qtconsole==4.7.6
QtPy==1.9.0
redshift-connector==2.0.881
regex==2020.7.14
requests==2.24.0
requests-toolbelt==0.9.1
retrying==1.3.3
rockset==0.8.10
rope==0.17.0
Rtree @ file:///C:/Users/maxde/pipwin/Rtree-0.9.7-cp37-cp37m-win_amd64.whl
s3transfer==0.5.2
sagemaker==2.81.1
scikit-learn==0.23.2
scipy==1.5.2
scramp==1.4.0
seaborn==0.11.0
Send2Trash==1.5.0
service-identity==18.1.0
setuptools-git==1.2
shap==0.37.0
shap2==0.40.0
Shapely==1.8.1.post1
simplejson==3.17.2
six @ file:///C:/Users/maxde/pipwin/six-1.16.0-py3-none-any.whl
sklearn==0.0
slicer==0.0.7
smdebug-rulesconfig==1.0.1
snowballstemmer==2.0.0
sortedcontainers==2.2.2
soupsieve==2.0.1
Sphinx==3.2.1
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.4
spyder==4.1.3
spyder-kernels==1.9.3
SQLAlchemy==1.4.12
statsmodels==0.12.2
sympy==1.6.2
tabulate==0.8.7
tangled-up-in-unicode==0.0.6
tblib==1.7.0
tenacity==7.0.0
terminado==0.8.3
testpath==0.4.4
texttable==1.6.4
textwrap3==0.9.2
threadpoolctl==2.1.0
tinys3==0.1.12
toml==0.10.1
toolz==0.11.1
torch==1.11.0
tornado==6.0.4
tqdm==4.51.0
traitlets==4.3.3
Twisted==20.3.0
txaio==20.4.1
txt2tags==3.7
typed-ast==1.4.1
typing_extensions==4.1.1
tzlocal==2.1
ujson==5.2.0
urllib3==1.25.10
visions==0.5.0
watchdog==0.10.3
wcwidth==0.2.5
webencodings==0.5.1
widgetsnbextension==3.5.1
wrapt==1.12.1
xgboost==1.2.1
yapf==0.30.0
zict==2.0.0
zipp==3.1.0
zope.interface==5.1.0

In [43]:
print(sdf.limit(1).toPandas().to_dict(orient='index'))

{0: {'application_current_phase_active': 'Missing', 'application_hiring_model': 'Missing', 'expected_salary_interval': 'Missing', 'reason_disapproval': 'Missing', 'application_status': 'Missing', 'prev_application_job_area': 'Missing', 'prev_application_job_department': 'Missing', 'last_company_classification': 'Software House C', 'job_area': 'Segurança', 'prev_approach_job_area': 'Missing', 'prev_approach_status': 'Missing', 'company_classification_migration': 'Software House C-to-Empresa Tradicional B', 'talent_info_source': 'prospects', 'prev_approach_job_area_to_job_area': 'Missing-to-Segurança', 'prev_application_job_area_to_job_area': 'Missing-to-Segurança', 'prev_approach_company_classification_migration': 'Missing-to-Empresa Tradicional B', 'prev_application_company_classification_migration': 'Missing-to-Empresa Tradicional B', 'prev_approach_job_seniority_to_job_seniority': 'Missing-to-Mid-level', 'prev_application_job_seniority_to_job_seniority': 'Missing-to-Mid-level', 'prev_approach_job_position_to_job_position': 'Missing-to-Missing', 'prev_application_job_position_to_job_position': 'Missing-to-Missing', 'prev_application_job_hiring_type_to_job_hiring_type': 'Missing-to-Missing', 'prospect_seniority_migration': 'Missing-to-Mid-level', 'declared_seniority_migration': 'Missing-to-Mid-level', 'prospect_location_state': 'Ceará', 'prospect_location_region': 'Ceará', 'prospect_area_migration': 'Segurança-to-Segurança', 'previous_applications_qty': 0, 'days_since_last_application': 999, 'prospect_smart_skills_qty': 8, 'prospect_experiences_qty': 5, 'prospect_companies_qty': 5, 'total_experience_months': 139, 'experience_duration_months_min': 5, 'experience_duration_months_clean_avg': 28.0, 'last_experience_duration_months': 27, 'max_salary_offered': 9000.0, 'previous_approaches_qty': 0, 'max_salary_expected_to_prev_approach': 11390.0, 'max_salary_expected_to_prev_application': 11902.33984375, 'last_experience_descriptions_word_count': 32, 'all_company_classifications_word_count': 7, 'all_company_classifications_count': 1, 'all_prospect_smart_skills_word_count': 8, 'all_job_question_correct_answers_word_count': 55, 'all_job_skill_names_word_count': 1, 'import_policy_word_count': 14, 'job_validation_questions_word_count': 179}}

In [ ]:
{0: {'application_current_phase_active': 'Missing', 'application_hiring_model': 'Missing', 'expected_salary_interval': 'Missing', 'reason_disapproval': 'Missing', 'application_status': 'Missing', 'prev_application_job_area': 'Missing', 'prev_application_job_department': 'Missing', 'last_company_classification': 'Software House C', 'job_area': 'Segurança', 'prev_approach_job_area': 'Missing', 'prev_approach_status': 'Missing', 'company_classification_migration': 'Software House C-to-Empresa Tradicional B', 'talent_info_source': 'prospects', 'prev_approach_job_area_to_job_area': 'Missing-to-Segurança', 'prev_application_job_area_to_job_area': 'Missing-to-Segurança', 'prev_approach_company_classification_migration': 'Missing-to-Empresa Tradicional B', 'prev_application_company_classification_migration': 'Missing-to-Empresa Tradicional B', 'prev_approach_job_seniority_to_job_seniority': 'Missing-to-Mid-level', 'prev_application_job_seniority_to_job_seniority': 'Missing-to-Mid-level', 'prev_approach_job_position_to_job_position': 'Missing-to-Missing', 'prev_application_job_position_to_job_position': 'Missing-to-Missing', 'prev_application_job_hiring_type_to_job_hiring_type': 'Missing-to-Missing', 'prospect_seniority_migration': 'Missing-to-Mid-level', 'declared_seniority_migration': 'Missing-to-Mid-level', 'prospect_location_state': 'Ceará', 'prospect_location_region': 'Ceará', 'prospect_area_migration': 'Segurança-to-Segurança', 'previous_applications_qty': 0, 'days_since_last_application': 999, 'prospect_smart_skills_qty': 8, 'prospect_experiences_qty': 5, 'prospect_companies_qty': 5, 'total_experience_months': 139, 'experience_duration_months_min': 5, 'experience_duration_months_clean_avg': 28.0, 'last_experience_duration_months': 27, 'max_salary_offered': 9000.0, 'previous_approaches_qty': 0, 'max_salary_offered_to_prev_approach': 11390.0, 'max_salary_offered_to_prev_application': 11902.33984375, 'last_experience_descriptions_word_count': 32, 'all_company_classifications_word_count': 7, 'all_company_classifications_count': 1, 'all_prospect_smart_skills_word_count': 8, 'all_job_question_correct_answers_word_count': 55, 'all_job_skill_names_word_count': 1, 'import_policy_word_count': 14, 'job_validation_questions_word_count': 179}}

In [32]:
print(settings.convertInvalidNumbersToNa)
print(settings.convertUnknownCategoricalLevelsToNa)
print(settings.dataFrameSerializer)
print(settings.detailedPredictionCol)
print(settings.namedMojoOutputColumns)
print(settings.predictionCol)
print(settings.withContributions)
print(settings.withLeafNodeAssignments)
print(settings.withStageResults)

True
True
ai.h2o.sparkling.utils.JSONDataFrameSerializer
detailed_prediction
True
prediction
False
False
False

In [62]:
model.defaultThreshold.parent

'StackedEnsemble_BestOfFamily_3_AutoML_1_20220713_190002.zip_411de2db0010'

In [10]:
sdf = (spark.createDataFrame(pd.DataFrame.from_dict(data, orient='index')))
sdf.printSchema()

root
 |-- application_current_phase_active: string (nullable = true)
 |-- application_hiring_model: string (nullable = true)
 |-- expected_salary_interval: string (nullable = true)
 |-- reason_disapproval: string (nullable = true)
 |-- application_status: string (nullable = true)
 |-- prev_application_job_area: string (nullable = true)
 |-- prev_application_job_department: string (nullable = true)
 |-- last_company_classification: string (nullable = true)
 |-- job_area: string (nullable = true)
 |-- prev_approach_job_area: string (nullable = true)
 |-- prev_approach_status: string (nullable = true)
 |-- company_classification_migration: string (nullable = true)
 |-- talent_info_source: string (nullable = true)
 |-- prev_approach_job_area_to_job_area: string (nullable = true)
 |-- prev_application_job_area_to_job_area: string (nullable = true)
 |-- prev_approach_company_classification_migration: string (nullable = true)
 |-- prev_application_company_classification_migration: string (nullable = true)
 |-- prev_approach_job_seniority_to_job_seniority: string (nullable = true)
 |-- prev_application_job_seniority_to_job_seniority: string (nullable = true)
 |-- prev_approach_job_position_to_job_position: string (nullable = true)
 |-- prev_application_job_position_to_job_position: string (nullable = true)
 |-- prev_application_job_hiring_type_to_job_hiring_type: string (nullable = true)
 |-- prospect_seniority_migration: string (nullable = true)
 |-- declared_seniority_migration: string (nullable = true)
 |-- prospect_location_state: string (nullable = true)
 |-- prospect_location_region: string (nullable = true)
 |-- prospect_area_migration: string (nullable = true)
 |-- previous_applications_qty: long (nullable = true)
 |-- days_since_last_application: long (nullable = true)
 |-- prospect_smart_skills_qty: long (nullable = true)
 |-- prospect_experiences_qty: long (nullable = true)
 |-- prospect_companies_qty: long (nullable = true)
 |-- total_experience_months: long (nullable = true)
 |-- experience_duration_months_min: long (nullable = true)
 |-- experience_duration_months_clean_avg: double (nullable = true)
 |-- last_experience_duration_months: long (nullable = true)
 |-- max_salary_offered: double (nullable = true)
 |-- previous_approaches_qty: long (nullable = true)
 |-- max_salary_expected_to_prev_approach: double (nullable = true)
 |-- max_salary_expected_to_prev_application: double (nullable = true)
 |-- last_experience_descriptions_word_count: long (nullable = true)
 |-- all_company_classifications_word_count: long (nullable = true)
 |-- all_company_classifications_count: long (nullable = true)
 |-- all_prospect_smart_skills_word_count: long (nullable = true)
 |-- all_job_question_correct_answers_word_count: long (nullable = true)
 |-- all_job_skill_names_word_count: long (nullable = true)
 |-- import_policy_word_count: long (nullable = true)
 |-- job_validation_questions_word_count: long (nullable = true)

In [5]:
import h2o

In [6]:
h2o.init()

Checking whether there is an H2O instance running at http://localhost:54321 ..... not found.
Attempting to start a local H2O server...
; Java HotSpot(TM) 64-Bit Server VM (build 25.261-b12, mixed mode)
  Starting server from c:\program files\python37\lib\site-packages\h2o\backend\bin\h2o.jar
  Ice root: C:\Users\maxde\AppData\Local\Temp\tmpaq998kvi
  JVM stdout: C:\Users\maxde\AppData\Local\Temp\tmpaq998kvi\h2o_maxde_started_from_python.out
  JVM stderr: C:\Users\maxde\AppData\Local\Temp\tmpaq998kvi\h2o_maxde_started_from_python.err

H2OServerError: Server process terminated with error code 1: ERROR: failed in createLog4j, exiting now.
java.lang.NullPointerException
	at water.util.Log.createLog4j(Log.java:349)
	at water.util.Log.write0(Log.java:139)
	at water.util.Log.flushBufferedMessages(Log.java:156)
	at water.util.Log.notifyAboutProcessExiting(Log.java:78)
	at water.H2O.exit(H2O.java:948)
	at water.H2O.parseFailed(H2O.java:465)
	at water.H2O.parseH2OArgumentsTo(H2O.java:760)
	at water.H2O.parseArguments(H2O.java:529)
	at water.H2O.main(H2O.java:2184)
	at water.H2OStarter.start(H2OStarter.java:22)
	at water.H2OStarter.start(H2OStarter.java:48)
	at water.H2OApp.main(H2OApp.java:12)

In [4]:
!echo %JAVA_HOME%

C:\Program Files\Java\jre1.8.0_261

In [ ]:
data_hdf = h2o.H2OFrame(dataprep_df.query('partition_0 == "train_data"').loc[:, (selected_features+[VarTarget])])

In [62]:
user_local = sherlock_smart_list3.where(F.col('linkedin_user_name')=='tecnoricardo').toPandas()

In [63]:
query = f"""
select *
from "dev-lakehouse-mirror".sherlock_smart_list where linkedin_user_name = 'tecnoricardo'"""
user_aws = wr.athena.read_sql_query(query, database="dev-lakehouse-mirror", boto3_session=my_boto3_session, s3_output='s3://query-temp-result')

In [64]:
# user_aws[['prospect_location_state', 'prospect_location_region']]

In [65]:
import datacompy
#comparacao das duas bases
compare = datacompy.Compare(
    user_local.astype(str),
    user_aws.astype(str),
    join_columns=['job_id', 'linkedin_user_name'],  #You can also specify a list of columns
    abs_tol=0, #Optional, defaults to 0
    rel_tol=0, #Optional, defaults to 0
    df1_name='user_local', #Optional, defaults to 'df1'
    df2_name='user_aws' #Optional, defaults to 'df2'
    )
compare.matches(ignore_extra_columns=False)
# False

# This method prints out a human-readable report summarizing and sampling differences
print(compare.report())

only_df1=compare.df1_unq_rows
only_df2=compare.df2_unq_rows

# only_rest.groupby('hour').count().plot()
# only_wss.groupby('hour').count().plot()

# only_rest_desc=only_rest.describe()
# trade_socket_desc=only_wss.describe()

DataComPy Comparison
--------------------

DataFrame Summary
-----------------

    DataFrame  Columns  Rows
0  user_local       79    11
1    user_aws       79     2

Column Summary
--------------

Number of columns in common: 79
Number of columns in user_local but not in user_aws: 0
Number of columns in user_aws but not in user_local: 0

Row Summary
-----------

Matched on: job_id, linkedin_user_name
Any duplicates on match values: No
Absolute Tolerance: 0
Relative Tolerance: 0
Number of rows in common: 2
Number of rows in user_local but not in user_aws: 9
Number of rows in user_aws but not in user_local: 0

Number of rows with some compared columns unequal: 2
Number of rows with all compared columns equal: 0

Column Comparison
-----------------

Number of columns compared with some values unequal: 6
Number of columns compared with all values equal: 73
Total number of values which compare unequal: 12

Columns with Unequal Values or Types
------------------------------------

                      Column user_local dtype user_aws dtype  # Unequal     Max Diff  # Null Diff
0  all_prospect_smart_skills           object         object          2     0.000000            0
4                probability           object         object          2     0.095987            0
2                     rating           object         object          2     1.000000            0
5     talent_previous_job_id           object         object          2     0.000000            0
3                talent_rank           object         object          2  2041.000000            0
1              talent_skills           object         object          2     0.000000            0

Sample Rows with Unequal Values
-------------------------------

  job_id linkedin_user_name                        all_prospect_smart_skills (user_local)                          all_prospect_smart_skills (user_aws)
5   2303       tecnoricardo  cisco,dns,linux-,microsoft-office,smtp,tcp-ip,vmware,windows  linux-,windows,vmware,microsoft-office,dns,smtp,tcp-ip,cisco
9   2345       tecnoricardo  cisco,dns,linux-,microsoft-office,smtp,tcp-ip,vmware,windows  linux-,windows,vmware,microsoft-office,dns,smtp,tcp-ip,cisco

  job_id linkedin_user_name                                    talent_skills (user_local)                                      talent_skills (user_aws)
5   2303       tecnoricardo  cisco,dns,linux-,microsoft-office,smtp,tcp-ip,vmware,windows  linux-,windows,vmware,microsoft-office,dns,smtp,tcp-ip,cisco
9   2345       tecnoricardo  cisco,dns,linux-,microsoft-office,smtp,tcp-ip,vmware,windows  linux-,windows,vmware,microsoft-office,dns,smtp,tcp-ip,cisco

  job_id linkedin_user_name rating (user_local) rating (user_aws)
9   2345       tecnoricardo                   8                 9
5   2303       tecnoricardo                   9                10

  job_id linkedin_user_name talent_rank (user_local) talent_rank (user_aws)
5   2303       tecnoricardo                       26                   2067
9   2345       tecnoricardo                       17                    442

  job_id linkedin_user_name probability (user_local) probability (user_aws)
5   2303       tecnoricardo       0.2640694412764003      0.360056778778978
9   2345       tecnoricardo      0.17592371525781747    0.25157175293904127

  job_id linkedin_user_name talent_previous_job_id (user_local) talent_previous_job_id (user_aws)
9   2345       tecnoricardo                                 nan                              <NA>
5   2303       tecnoricardo                                 nan                              <NA>

Sample Rows Only in user_local (First 10 Columns)
-------------------------------------------------

   job_id linkedin_user_name          probability rating                                  linkedin pipefy_last_card_id_link talent_area talent_department talent_expected_salary talent_hiring_model
7    2454       tecnoricardo  0.17888443792602257      8  https://www.linkedin.com/in/tecnoricardo                  Missing   Segurança    Cyber Security                   -1.0             Missing
6    2689       tecnoricardo  0.24270101656122967      9  https://www.linkedin.com/in/tecnoricardo                  Missing   Segurança    Cyber Security                   -1.0             Missing
2    2222       tecnoricardo  0.20475440226879393      8  https://www.linkedin.com/in/tecnoricardo                  Missing   Segurança    Cyber Security                   -1.0             Missing
0    2546       tecnoricardo  0.16580270511284106      7  https://www.linkedin.com/in/tecnoricardo                  Missing   Segurança    Cyber Security                   -1.0             Missing
8    2645       tecnoricardo  0.12465889223519448      6  https://www.linkedin.com/in/tecnoricardo                  Missing   Segurança    Cyber Security                   -1.0             Missing
3    2669       tecnoricardo  0.15960161664269787      7  https://www.linkedin.com/in/tecnoricardo                  Missing   Segurança    Cyber Security                   -1.0             Missing
4    2578       tecnoricardo    0.168738744637447      7  https://www.linkedin.com/in/tecnoricardo                  Missing   Segurança    Cyber Security                   -1.0             Missing
1    2665       tecnoricardo  0.16825114229185326      7  https://www.linkedin.com/in/tecnoricardo                  Missing   Segurança    Cyber Security                   -1.0             Missing
10   2675       tecnoricardo     0.14591095204139      7  https://www.linkedin.com/in/tecnoricardo                  Missing   Segurança    Cyber Security                   -1.0             Missing

In [ ]:
datasource_applications2 = datasource_applications.withColumn("application_rank", F.row_number().over(Window.partitionBy('linkedin_user_name').orderBy(F.col("application_creation_date_ts").desc(), F.col("application_id_backoffice").desc())))\
.withColumn("previous_applications_qty", F.row_number().over(Window.partitionBy('linkedin_user_name').orderBy(F.col("application_creation_date_ts").asc(), F.col("application_id_backoffice").asc())))\
.withColumn("current_date",F.current_date())\
.withColumn('days_since_last_application', ((F.datediff(F.col('current_date'), F.col('application_creation_date_ts')))))\

In [73]:
datasource_applications2.where(F.col('linkedin_user_name')=='pedro-martine')\
.withColumn("current_date",F.current_date())\
.withColumn('days_since_last_application', ((F.datediff(F.col('current_date'), F.col('application_creation_date_ts')))))\
.select('linkedin_user_name', 'application_creation_date_ts', 'current_date', 'days_since_last_application')\
.show(truncate=False)

+------------------+----------------------------+------------+---------------------------+
|linkedin_user_name|application_creation_date_ts|current_date|days_since_last_application|
+------------------+----------------------------+------------+---------------------------+
|pedro-martine     |2021-11-09 11:00:48.081     |2022-08-11  |275                        |
+------------------+----------------------------+------------+---------------------------+

In [86]:
datasource_prospects2.where(F.col('linkedin_user_name')=='bruno-raphael-ferreira-de-souza').toPandas()

,linkedin_user_name_tmp,prospect_location,prospects_updated_at_date_ts,prospect_seniority,prospect_area,declared_seniority,prospect_location_country_tmp1,prospect_location_country_tmp2,prospect_location_country,prospect_location_state_tmp1,prospect_location_state_tmp2,prospect_location_state,prospect_location_region_tmp1,prospect_location_region,prospect_department
0,bruno-raphael-ferreira-de-souza,"Santos, São Paulo, Brasil",2022-08-10 14:28:30.141,Senior,Engineering,Mid-level,Brasil,Brasil,Brazil,São Paulo,São Paulo,São Paulo,São Paulo,São Paulo,Full-stack

In [ ]:
datasource_prospects2 = datasource_prospects\
.withColumn('prospect_location_country_tmp1', F.reverse(F.split(F.col('prospect_location'), ',')).getItem(0))\
.withColumn('prospect_location_country_tmp2', F.trim(F.regexp_replace(F.col('prospect_location_country_tmp1'), " e Região", "")))\
.withColumn('prospect_location_country', prospect_country_func(F.col('prospect_location_country_tmp2')))\
.withColumn('prospect_location_state_tmp1', F.reverse(F.split(F.col('prospect_location'), ',')).getItem(1))\
.withColumn('prospect_location_state_tmp2', F.trim(F.regexp_replace(F.col('prospect_location_state_tmp1'), " e Região", "")))\
.withColumn('prospect_location_state', prospect_region_international_func(F.col('prospect_location_state_tmp2'), F.col('prospect_location_country')))\
.withColumn('prospect_location_region_tmp1', prospect_region_func(F.col('prospect_location_state')))\
.withColumn('prospect_location_region', prospect_region_international_func(F.col('prospect_location_region_tmp1'), F.col('prospect_location_country')))\
.withColumn("prospect_department", F.trim(F.split(F.col('prospect_area'),' - ').getItem(1)))\
.withColumn("prospect_area", F.trim(F.split(F.col('prospect_area'),' ').getItem(0)))\
.withColumnRenamed('linkedin_user_name', 'linkedin_user_name_tmp')\
.withColumnRenamed('updated_at_date_ts', 'prospects_updated_at_date_ts')\
.fillna(value="Missing")

In [ ]:
#Criação das variáveis de pais com base na variavel propesct_location do linkedin. Para comparar abordagens de talentos que moram fora do Brasil
def prospect_country(country):
    if country in ('', 'null', None, 'None', 'Missing'):
        return "Missing"
    elif country == 'São Paulo':
        return 'Brazil'
    elif country == 'Rio de Janeiro':
        return 'Brazil'
    elif country == 'Campinas':
        return 'Brazil'
    elif country == 'Belo Horizonte':
        return 'Brazil'
    elif country == 'Porto Alegre':
        return 'Brazil'
    elif country == 'Curitiba':
        return 'Brazil'
    elif country == 'Brasília':
        return 'Brazil'
    elif country == 'Florianópolis':
        return 'Brazil'
    elif country == 'Salvador':
        return 'Brazil'
    elif country == 'Fortaleza':
        return 'Brazil'
    elif country == 'Recife':
        return 'Brazil'
    elif country == 'Manaus':
        return 'Brazil'
    elif country == 'Ribeirão Preto':
        return 'Brazil'
    elif country == 'Goiânia':
        return 'Brazil'
    elif country == 'João Pessoa':
        return 'Brazil'
    elif country == 'Londrina':
        return 'Brazil'
    elif country == 'Vitória':
        return 'Brazil'
    elif country == 'Cuiabá':
        return 'Brazil'
    elif country == 'Greater São Paulo Area':
        return 'Brazil'
    elif country == 'Natal':
        return 'Brazil'
    elif country == 'São luis':
        return 'Brazil'
    elif country == 'Brazil':
        return 'Brazil'
    elif country == 'Brasil':
        return 'Brazil'
    else:
        return 'Others'
    
prospect_country_func = F.udf(prospect_country, StringType())
    
#Separacao entre os estados brasileiros, os estados do norte e nordeste foram definidos como um unico grupo porque o volume de abordagens eh menor
def prospect_region(state):
    if state in ('', 'null', None, 'None', 'Missing'):
        return "Missing"
    elif state == 'São Paulo':
        return 'São Paulo'
    elif state == 'Minas Gerais':
        return 'Minas Gerais'
    elif state == 'Rio de Janeiro':
        return 'Rio de Janeiro'
    elif state == 'Paraná':
        return 'Paraná'
    elif state == 'Santa Catarina':
        return 'Santa Catarina'
    elif state == 'Rio Grande do Sul':
        return 'Rio Grande do Sul'
    elif state == 'Espírito Santo':
        return 'Espírito Santo'
    elif state == 'Mato Grosso do Sul':
        return 'Mato Grosso do Sul'
    elif state == 'Mato Grosso':
        return 'Mato Grosso'    
    elif state == 'Goiás':
        return 'Goiás'
    elif state == 'Paraíba':
        return 'Paraíba'
    elif state == 'Pernambuco':
        return 'Pernambuco'
    elif state == 'Bahia':
        return 'Bahia'
    elif state == 'Sergipe':
        return 'Sergipe'
    elif state == 'Alagoas':
        return 'Alagoas'
    elif state == 'Ceará':
        return 'Ceará'
    elif state == 'Maranhão':
        return 'Maranhão'
    elif state == 'Piau':
        return 'Piau'
    elif state == 'Rio Grande do Norte':
        return 'Rio Grande do Norte'
    elif state in ( 'Acre'
                   ,'Amapá'
                   ,'Amazonas'
                   ,'Pará'
                   ,'Rondônia'
                   ,'Roraima'
                   ,'Tocantins'):
        return 'Norte'
    else:
        return 'Others'
    
prospect_region_func = F.udf(prospect_region, StringType())

#Correção da variavel estado quando o pais nao for Brasil
def prospect_region_international(state, country):
    if country not in ('Brazil', 'Missing'):
        return "International"
    elif state in ('', 'null', None, 'None', 'Missing'):
        return "Missing"
    elif state == 'sao paulo':
        return "São Paulo"
    elif state == 'Federal District':
        return "Distrito Federal"
    else:
        return state
prospect_region_international_func = F.udf(prospect_region_international, StringType())

In [51]:
import pyspark.sql.functions as F
from pyspark.sql.window import Window
from pyspark.sql.types import LongType, StringType
from urllib.parse import unquote
import pandas as pd
import sqlalchemy as sa
import os

In [58]:
##Status of candidates
#Definição de parâmetros:
ENDPOINT="backoffice.cavx7zegjg23.us-east-1.rds.amazonaws.com"
PORT="3306"
USR="backoffice"
REGION="us-east-1"
DBNAME="intera_database"
token='Lksmva3q0jewf#'
os.environ['LIBMYSQL_ENABLE_CLEARTEXT_PLUGIN'] = '1'

try:    
    db_connection_str = 'mysql+pymysql://%s:%s@%s:%s/%s' % (USR, token, ENDPOINT, PORT, DBNAME)
    db_connection = sa.create_engine(db_connection_str)
    print("Successeful connected to MySQL: {}".format(db_connection))
except Exception as e:
    print("Database connection failed due to {}".format(e))
    
##Query with All candidates in mysql
query = """SELECT distinct linkedin_username as linkedin_user_name, status as candidate_status, updated_at FROM candidato where linkedin_username is not null and status is not null;"""
datasource_candidates = spark.createDataFrame(pd.read_sql(query, con=db_connection))\
.withColumn('status_rank', F.when(F.col('candidate_status')=='AVAILABLE', F.lit(0)).otherwise(1))\
.orderBy(['linkedin_user_name', 'status_rank', 'updated_at'], ascending=False)\
.dropDuplicates(subset = ["linkedin_user_name"]).drop('updated_at')

Successeful connected to MySQL: Engine(mysql+pymysql://backoffice:***@backoffice.cavx7zegjg23.us-east-1.rds.amazonaws.com:3306/intera_database)

In [53]:
datasource_candidates = spark.createDataFrame(pd.read_sql(query, con=db_connection))
datasource_candidates.printSchema()

root
 |-- linkedin_user_name: string (nullable = true)
 |-- candidate_status: string (nullable = true)
 |-- updated_at: timestamp (nullable = true)

In [61]:
datasource_candidates.where(F.col('linkedin_user_name')=='lucas-gimenez-dias-457307142').show()

+--------------------+----------------+-----------+
|  linkedin_user_name|candidate_status|status_rank|
+--------------------+----------------+-----------+
|lucas-gimenez-dia...|          ACTIVE|          1|
+--------------------+----------------+-----------+

In [57]:
datasource_candidates.where(F.col('linkedin_user_name')=='ramonbrbs')\
.withColumn('status_rank', F.when(F.col('candidate_status')=='AVAILABLE', F.lit(0)).otherwise(1))\
.show()

+------------------+----------------+-------------------+-----------+
|linkedin_user_name|candidate_status|         updated_at|status_rank|
+------------------+----------------+-------------------+-----------+
|         ramonbrbs|       AVAILABLE|2021-09-28 20:19:00|          0|
|         ramonbrbs|           HIRED|2021-09-16 09:14:44|          1|
+------------------+----------------+-------------------+-----------+